<div id="container" class="backgroundShadeForContainer">
<table id="profile_con_tbl" align="center">
  <tr>
    <td colspan="3" class="tabHeader">
      <div id="editProfile">
        Edit Profile <span style="margin-left: 271px;">Profile Completeness</span>
      </div>

      <div class="profileCompTrg">

        <div id="profile_complete">
          <div class="progress">
            <div class="bar" style="width: 0%;"></div>
          </div>
        </div>
      </div>

    </td>
  </tr>
  <tr height="10px">
    <td colspan="3"></td>
  </tr>
  <tr>
    <td class="personal">
      <%= form_for(@profile) do |f| %>

          <%= f.hidden_field :user_id, :value=> current_user.id %>

          <table id="personalTbl">
            <tr class="tableHeaders">
              <th style="color:#96c953;">Personal</th>
            </tr>
            <tr>
              <td>First Name<sup>*</sup></td>
              <td><%= f.text_field :first_name  %></td>
            </tr>
            <tr>
              <td>Last Name<sup>*</sup></td>
              <td><%= f.text_field :last_name %></td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td><%= f.text_field :phone_number %></td>
            </tr>
            <tr>
              <td>Birthday<sup>*</sup></td>
              <td><%= f.text_field :birthday, :id => "date_picker" %></td>
              <%= hidden_field_tag :current_date, '', :value => Date.today.strftime("%Y-%m-%d") %></td>
            </tr>

            <tr>
              <td>Location</td>
              <td><%= f.text_field :location %></td>
            </tr>
            <tr>
              <td>City</td>
              <td><%= f.text_field :city %></td>
            </tr>
            <tr>
              <td>State</td>
              <td><%= f.text_field :state %></td>
            </tr>

                <tr>
                  <td>Interests</td>
                  <td>

                    <% Profile::INTEREST.each do |interest| %>
                        <% check =  current_user.profile.nil? ? false : current_user.profile.interests.include?(interest) %>
                        <%= check_box_tag "profile[interests][]",interest,check %> <%= interest %>
                    <% end %>

                  </td>
                </tr>

            <tr>
              <td colspan="2" class="exmp" style="background-color:#fff; ">Examples: Sports, News, Politics,world Affairs, Economics, etc,</td>
            </tr>
            <% unless current_user.user_role.nil? %>
                <tr>
                  <td>Roles<sup>*</sup></td>
                  <td>

                    <% User::ROLES.each do |role| %>
                        <%= check_box_tag "[user_role][]",role,current_user.user_role.include?(role)  %> <%= role %>
                    <% end %>

            </td>
            </tr>
            <% end %>

            <% if current_user.email == "addament#{current_user.id}@gmail.com" %>
                <tr>
                  <td>Email</td>
                  <td>

                    <%= text_field_tag :current_email %>

                  </td>
                </tr>
            <% end %>

            <tr>
              <td colspan="2" style="background-color:#fff;" align="center">
                <%=  f.submit "Update Profile", :class =>"update_prf_btn"  %>
                <%= f.file_field :avatar_file1, :class => 'fileUploadButtonContainer', :value => "Choose file", :onchange =>"check_extn()" ,:title=>"bar"  %>
                <%= f.hidden_field :cal_age %>
              </td>
            </tr>
          </table>
          </td>
          <td width="10px"></td>
          <td class="professional">
            <% @professionals = f.object.new_record? ? f.object.professionals.build : f.object.professionals.first %>
            <%= f.fields_for :professionals,@professionals  do |professional| %>
                <table id="professionalTbl">
                  <tr class="tableHeaders">
                    <th style="color:#51a2d5;">Professional</th>
                  </tr>
                  <tr>
                    <td>Current employer or school<sup>*</sup></td>
                    <td><%=  professional.text_field :companyname, :id=> "company_name", :required => true %></td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td><%=  professional.text_field :location %></td>
                  </tr>
                  <tr>
                    <td>Role</td>
                    <td><%=  professional.text_field :role %></td>
                  </tr>
                  <tr>
                    <td>Date Started<sup>*</sup></td>
                    <td><%=  professional.text_field :start_date, :id => "date_picker1" %>
                      <%= hidden_field_tag :current_date, '', :value => Date.today.strftime("%Y-%m-%d") %></td>
                      </td>
                  </tr>
                  <tr>
                    <td>Aspirations</td>
                    <td><%= professional.text_area :aspriations, :rows => 3, :cols => 32 %>
                  </tr>
                  <tr>
                    <td colspan="2" class="exmp" style="background-color:#fff; ">Examples: Professional, Personal, etc,</td>
                  </tr>
                  <tr>
                    <td>Affiliations</td>
                    <td>
                      <%= professional.text_area :affiliations_array, :rows => 3, :cols => 32, :id=> "affiliation" %>
                    </td>

                  </tr>
                  <tr>
                    <td colspan="2" class="exmp" style="background-color:#fff; ">Examples: School, Organizations, etc,</td>
                  </tr>
                  <tr>

                  </tr>
            <% end %>
            </table>

                <%= link_to "Add More", new_professional_path, {:class=>"add_more_btn", "data-toggle" => "modal","data-target" => "#myModal"} %>

                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="forceClose">×</button>
                    <h3 id="myModalLabel">Add More Professional</h3>
                  </div>
                  <div class="modal-body">
                    <p></p>
                  </div>

                </div>
              <%=  f.submit "Next", :class =>"next_btn",:style => "width:66px"  %>
          </table>
</div>
       <% end %>



      <script>
          $(window).load(function(){


              var profileCompTrg = setInterval(function() {
                  var $bar = $('.bar');

                  if ($bar.width()==400) {

                      clearInterval(profileCompTrg);
                      $('.profileCompTrg').removeClass('active');
                  } else {
                      $bar.width("<%= complete_percentage %>"* 4);
                  }
                  $bar.text("<%= complete_percentage%>" + "%");
              }, 800);

          });
      </script>





      <script type='text/javascript'>//<![CDATA[
      $(window).load(function(){
          var availableTags = [<% for i in 0...company_list.length %>
              '<%= company_list[i].company_name %>',
                  <% end %>

          ];
          $( "#company_name" ).autocomplete({
              source: availableTags
          });

      });//]]>

      </script>


   <link rel="stylesheet" type="text/css" href="/assets/jquery.datepick.css">
      <script type="text/javascript" src="/assets/jquery.datepick.js"></script>
<script>
    $('#date_picker').datepick({
        format: 'mm-dd-yyyy'
    });
</script>
<script>
    $('#date_picker1').datepick({
        format: 'mm-dd-yyyy'
    });
</script>

<script>
  $('.edit_profile').submit(function() {
      if ($('#current_email').val()!="")
      {

      var values = $("input[id='_user_role_']")
              .map(function(){return $(this).val();}).get();
          count_checkbox = 0;
      for (i=0; i!=values.length;i++) {

                   var checkbox = $("input[type='checkbox'][value='"+values[i]+"']");
          if(checkbox.is(':checked') )
          {
              count_checkbox = 1;
          }

      }
      if(count_checkbox == 0)
      {
          alert("select atleast one role");
          return false;
      }

//      document.getElementById(custId).checked == true

      var endDate = $('#current_date').val();
      var startDate = $('#date_picker1').val();
      var birthdate = $('#date_picker').val();

      if (startDate > endDate){
          alert("Start date value should be less than today date");
          return false;
      }
      if (birthdate > endDate){
          alert("Birthdate should be less than today date");
          return false;
      }
      }
      else
      {
          alert("please enter Email")
          return false;
      }
  });
</script>
      <script>
          $('.new_profile').submit(function() {
              if ($('#current_email').val()!="")
              {

                  var values = $("input[id='_user_role_']")
                      .map(function(){return $(this).val();}).get();
              count_checkbox = 0;
              for (i=0; i!=values.length;i++) {

                  var checkbox = $("input[type='checkbox'][value='"+values[i]+"']");
                  if(checkbox.is(':checked') )
                  {
                      count_checkbox = 1;
                  }

              }
              if(count_checkbox == 0)
              {
                  alert("select atleast one role");
                  return false;
              }
              var endDate = $('#current_date').val();
              var startDate = $('#date_picker1').val();
              var birthdate = $('#date_picker').val();

              if (startDate > endDate){
                  alert("Start date value should be less than today date");
                  return false;
              }
              if (birthdate > endDate){
                  alert("Birthdate should be less than today date");
                  return false;
              }
              }
              else
              {
                  alert("please enter Email")
                  return false;
              }
          });
      </script>
      <script>
          function check_extn()
          {
              var ext = $('.fileUploadButtonContainer').val().split('.').pop().toLowerCase();
              if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
              $('#profile_avatar_file1').val('');
              alert('Invalid file');
              }
          }
      </script>
      <script>
          $(function() {
              var availableTags = [<% for i in 0...org_list.length %>
                  '<%= org_list[i].org_name %>',
                  <% end %>
              ];
              function split( val ) {
                  return val.split( /,\s*/ );
              }
              function extractLast( term ) {
                  return split( term ).pop();
              }

              $( "#affiliation" )
                  // don't navigate away from the field on tab when selecting an item
                      .bind( "keydown", function( event ) {
                          if ( event.keyCode === $.ui.keyCode.TAB &&
                                  $( this ).data( "ui-autocomplete" ).menu.active ) {
                              event.preventDefault();
                          }
                      })
                      .autocomplete({
                          minLength: 0,
                          source: function( request, response ) {
                              // delegate back to autocomplete, but extract the last term
                              response( $.ui.autocomplete.filter(
                                      availableTags, extractLast( request.term ) ) );
                          },
                          focus: function() {
                              // prevent value inserted on focus
                              return false;
                          },
                          select: function( event, ui ) {
                              var terms = split( this.value );
                              // remove the current input
                              terms.pop();
                              // add the selected item
                              terms.push( ui.item.value );
                              // add placeholder to get the comma-and-space at the end
                              terms.push( "" );
                              this.value = terms.join( "," );
                              return false;
                          }
                      });
          });
      </script>


