<div id="container" class="backgroundShadeForContainer">
<table id="profile_con_tbl" align="center">
  <tr>
    <td colspan="3" class="tabHeader">
      <div id="editProfile">
        Edit Profile <span style="margin-left: 271px;">Profile Completeness</span>
      </div>

      <div class="profileCompTrg">

        <div id="profile_complete">
          <div class="progress">
            <div class="bar" style="width: 0%;"></div>
          </div>
        </div>
      </div>

    </td>
  </tr>
  <tr height="10px">
    <td colspan="3"></td>
  </tr>
  <tr>
    <td class="personal">
      <%= form_for(@profile) do |f| %>

          <%= f.hidden_field :user_id, :value=> current_user.id %>

          <table id="personalTbl">
            <tr class="tableHeaders">
              <th style="color:#96c953;">Personal</th>
            </tr>
            <tr>
              <td>First Name</td>
              <td><%= f.text_field :first_name, :required => true %></td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td><%= f.text_field :last_name, :required => true %></td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td><%= f.text_field :phone_number %></td>
            </tr>
            <tr>
              <td>Birthday</td>
              <td><%= f.text_field :birthday, :id => "date_picker" %></td>
              <%= hidden_field_tag :current_date, '', :value => Date.today.strftime("%Y-%m-%d") %></td>
            </tr>

            <tr>
              <td>Location</td>
              <td><%= f.text_field :location %></td>
            </tr>
            <tr>
              <td>City</td>
              <td><%= f.text_field :city %></td>
            </tr>
            <tr>
              <td>State</td>
              <td><%= f.text_field :state %></td>
            </tr>
            <tr>
              <td>Interests</td>
              <td><%= f.text_area :interests, :rows => 3, :cols => 32 %>
            </tr>
            <tr>
              <td colspan="2" class="exmp" style="background-color:#fff; ">Examples: Sports, News, Politics,world Affairs, Economics, etc,</td>
            </tr>
            <% unless current_user.user_role.nil? %>
                <tr>
                  <td>Roles</td>
                  <td>

                    <% User::ROLES.each do |role| %>
                        <%= check_box_tag "[user_role][]",role,current_user.user_role.include?(role)  %> <%= role %>
                    <% end %>
            <% end %>
            </td>
            </tr>

            <tr>
              <td colspan="2" style="background-color:#fff;" align="center">
                <%=  f.submit "Update Profile", :class =>"update_prf_btn"  %>
                <%= f.file_field :avatar_file1, :class => 'fileUploadButtonContainer', :value => "Choose file",:title=>"bar"  %>
              </td>
            </tr>
          </table>
          </td>
          <td width="10px"></td>
          <td class="professional">
            <% @professionals = f.object.new_record? ? f.object.professionals.build : f.object.professionals.first %>
            <%= f.fields_for :professionals,@professionals  do |professional| %>
                <table id="professionalTbl">
                  <tr class="tableHeaders">
                    <th style="color:#51a2d5;">Professional</th>
                  </tr>
                  <tr>
                    <td>Current employer or school</td>
                    <td><%=  professional.text_field :companyname, :id=> "company_name", :required => true %></td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td><%=  professional.text_field :location %></td>
                  </tr>
                  <tr>
                    <td>Role</td>
                    <td><%=  professional.text_field :role %></td>
                  </tr>
                  <tr>
                    <td>Date Started</td>
                    <td><%=  professional.text_field :start_date, :id => "date_picker1" %>
                      <%= hidden_field_tag :current_date, '', :value => Date.today.strftime("%Y-%m-%d") %></td>
                      </td>
                  </tr>
                  <tr>
                    <td>Aspirations</td>
                    <td><%= professional.text_area :aspriations, :rows => 3, :cols => 32 %>
                  </tr>
                  <tr>
                    <td colspan="2" class="exmp" style="background-color:#fff; ">Examples: Professional, Personal, etc,</td>
                  </tr>
                  <tr>
                    <td>Affiliations</td>
                    <td>
                      <%= professional.text_area :affiliations, :rows => 3, :cols => 32, :id=> "affiliation" %>
                    </td>

                  </tr>
                  <tr>
                    <td colspan="2" class="exmp" style="background-color:#fff; ">Examples: School, Organizations, etc,</td>
                  </tr>
                  <tr>

                  </tr>
            <% end %>
            </table>

                <%= link_to "Add More", new_professional_path, {:class=>"add_more_btn", "data-toggle" => "modal","data-target" => "#myModal"} %>

                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="forceClose">×</button>
                    <h3 id="myModalLabel">Add More Professional</h3>
                  </div>
                  <div class="modal-body">
                    <p></p>
                  </div>

                </div>
              <%=  f.submit "Next", :class =>"next_btn",:style => "width:66px"  %>
          </table>
</div>
      <% end %>



      <script>
          $(window).load(function(){


              var profileCompTrg = setInterval(function() {
                  var $bar = $('.bar');

                  if ($bar.width()==400) {

                      clearInterval(profileCompTrg);
                      $('.profileCompTrg').removeClass('active');
                  } else {
                      $bar.width("<%= complete_percentage %>"* 4);
                  }
                  $bar.text("<%= complete_percentage%>" + "%");
              }, 800);

          });
      </script>


      <script>
          $("#affiliation").autocomplete([
              "Aberdeen", "Ada"], {
              multiple: true,
              mustMatch: true,
              autoFill: true
          });


      </script>


      <script type='text/javascript'>//<![CDATA[
      $(window).load(function(){
          var availableTags = [<% for i in 0...@company.length %>
              '<%= @company[i].company_name %>',
                  <% end %>

          ];
          $( "#company_name" ).autocomplete({
              source: availableTags
          });

      });//]]>

      </script>


   <link rel="stylesheet" type="text/css" href="/assets/jquery.datepick.css">
      <script type="text/javascript" src="/assets/jquery.datepick.js"></script>
<script>
    $('#date_picker').datepick({
        format: 'mm-dd-yyyy'
    });
</script>
<script>
    $('#date_picker1').datepick({
        format: 'mm-dd-yyyy'
    });
</script>

<script>
  $('.edit_profile').submit(function() {
      var endDate = $('#current_date').val();
      var startDate = $('#date_picker1').val();
      var birthdate = $('#date_picker').val();

      if (startDate > endDate){
          alert("Start date value should be less than today date");
          return false;
      }
      if (birthdate > endDate){
          alert("Birthdate should be less than today date");
          return false;
      }
  });
</script>
