
<% i =1 %>
<% if @goal.count >0 %>
    <% @goal.each do |goal| %>
        <% user  = User.find(goal.user_id) %>
          <div id="goal_cmts">
          <label class="goals_tab_title">Goals:</label>
            <% profile = user.profile %>
            <div id="user_goal">

              <% if profile.avatar_file? %>
                  <div id="my_gole">
                    <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => profile.id ),{ :class => "thumb_image",:style => "float:left;margin-right:10px;"} %>
                  </div>
              <% else %>
                  <div id="my_gole">
                    <%= image_tag("missing.png",height: 70,width: 80) %>
                  </div>
              <% end %>
                <div id="goal_det">
                  <label><%= profile.first_name %> <%= profile.last_name %></label>
                  <p class="gole" style="color:#555;"><%= goal.goal_name %></p>
                  </div>

            </div>
               <% if current_user.following?(user) || current_user.followed_by?(user) %>
               <div class= "commentbutton<%= i %> "><a href="javascript:void(0)" onclick ="open_form(<%= i%>)">Comment</a></div>
               <% end %>
               <div class="comment_form<%= i %>" style="display: none;">
                <div class="comment_form">
                  <%=  render 'goal_comments/showed_user_goal', :id => goal.id, :profile_id => profile.id %>
                </div>
               </div>

               </div>
            <%=render :partial => 'goal_comments/goal_comment', :locals => { :id => goal.id }  %>
            <% i += 1 %>


    <% end %>
<% else %>
    <p>No Goals Added</p>
<% end %>

</div>

<script>
    function open_form(e)
    {

        $('.comment_form'+ e).css('display', 'block');

    }
</script>