<div id="container">
<%= form_for(@profile, url: about_update_profiles_path, :method => "post", :remote => true) do |f| %>
    <table id="topDIV_about">
      <tr>
        <td style="width: 92px;">

          <% unless current_user.profile.avatar_file? %>
              <%= image_tag("missing.png",width: 92) %>
          <% else %>
              <div id ="image" style="width:92px;">
                <%= image_tag url_for(:controller => "profiles", :action => "code_image") %>
              </div>


          <% end %>
        </td>
        <td style="width:100px; vertical-align: top;"><div class="aboutbutton" ><a href="javascript:void(0)" style="color:#7EC044; margin-left:20px;padding-top: 10px;"><b>About Me<b/></a></div></td>
        <td>
          <div class="profile_text">
            <%= current_user.profile.about %>
          </div>
          <div class="profile_text2" style="display:none">
            <%= f.text_area :about,  :style => "width:550px;", :rows => 2, :cols => 220 %>
          </div>
        </td>
      </tr>
    </table>
    <br/>
    <div style="display: none;">
      <%=  f.submit "update Profile", :id=> "save" %>
    </div>


<% end %>


<div class="tabbable" style="width: 980px;margin-top: -36px;"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Past</a></li>
        <li><a href="#tab2" data-toggle="tab" >Present</a></li>
        <li><a href="#tab3" data-toggle="tab">Future</a></li>
      </ul>
</div>

    <div class="tab-content">
          <div class="tab-pane active" id="tab1">
              <label style="display: block;width:460px;text-align:center;font-weight: bold;padding: 20px;color: #000;font-size: 16px;letter-spacing: 1px;">Professional:</label><br>
              <% @profile.professionals.each do |past| %>
                  <% if past.end_date!=nil %>
                      <% unless past.company_id.nil? %>
                      <br style="clear: both;"/>
                      <label class="about_meLft_col">Company name:</label><label class="about_meRht_col"><% companyname = Company.find(past.company_id) %><%= companyname.company_name %></label><br />
                      <label class="about_meLft_col">Title:</label><label class="about_meRht_col"><%= past.title %></label><br />
                      <label class="about_meLft_col">Start date:</label><label class="about_meRht_col"><%= past.start_date %></label><br />
                      <label class="about_meLft_col">End date:</label><label class="about_meRht_col"><%= past.end_date %></label><br />
                      <label class="about_meLft_col">Project name:</label><label class="about_meRht_col"><%= past.project_name %></label>
                      <hr class="comp_sep"/>
                      <% end %>
                  <% end %>
                 <% end %>

              <label style="display: block;width:460px;text-align:center;font-weight: bold;padding: 20px;color: #000;font-size: 16px;letter-spacing: 1px;">Educations:</label>
              <% @profile.education.each do |education| %>
                  <% school = School.find(education.school_id) %>
                  <label class="about_meLft_col">School name:</label><label class="about_meRht_col"><%= school.school_name %></label><br />
                  <label class="about_meLft_col">Date attended:</label><label class="about_meRht_col"><%= education.date_attended %></label><br />
                  <label class="about_meLft_col">Degree:</label><label class="about_meRht_col"><%= education.degree %></label><br />
                  <label class="about_meLft_col">Field of Study:</label><label class="about_meRht_col"><%= education.field_of_study %></label><br />
                  <label class="about_meLft_col">Grade:</label><label class="about_meRht_col"><%= education.grade %></label><br />
              <% end %>
          </div>

          <div class="tab-pane" id="tab2">
            <label style="display: block;width:460px;text-align:center;font-weight: bold;padding: 20px;color: #000;font-size: 16px;letter-spacing: 1px;">Professional:</label>
              <% @profile.professionals.each do |present| %>
                  <% if present.end_date == nil %>
                     <% unless present.company_id.nil? %>
                      <label class="about_meLft_col">Company Name:</label><label class="about_meRht_col"><% companyname = Company.find(present.company_id) %><%= companyname.company_name %></label><br>
                      <label class="about_meLft_col">Start Date:</label><label class="about_meRht_col"><%= present.start_date %></label><br>
                      <label class="about_meLft_col">Location:</label><label class="about_meRht_col"><%= present.location %></label><br>
                      <label class="about_meLft_col">Project Name:</label><label class="about_meRht_col"><%= present.project_name %></label><br>
                      <% else %>
                          <p>There is No past professional information</p>
                      <% end %>
                  <% end %>
              <% end %>
          </div>


          <div class="tab-pane" id="tab3">
            <label style="display: block;width:460px;text-align:center;font-weight: bold;padding: 20px;color: #000;font-size: 16px;letter-spacing: 1px;">Goals:</label>
              <%=  render :partial => 'goalcomments' %>
          </div>
    </div>


</div>
</div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
        </script>

        <script>
            $('.aboutbutton').click(function(){

                $('.profile_text').css('display', 'none');
                $('.profile_text2').css('display', 'block');
            });
        </script>

        <script>
            $(document).ready(function(){
                if("<%= current_user.profile.about %>")
                {

                    $(".profile_text").html("<%= current_user.profile.about %>").show();
                    $(".profile_text2").hide();
                }
                else
                {
                    $(".profile_text2").show();
                    $(".profile_text").hide();
                }

            });
        </script>

        <script>
            $('#profile_about').blur(function() {

                $('#save').trigger('click');
            });
        </script>

