<%= form_for(@profile, url: about_update_profiles_path, :method => "post", :remote => true) do |f| %>
    <br/>
    <table id="topDIV_about">
      <tr>
        <td style="width: 92px;">

          <% unless current_user.profile.avatar_file? %>
              <%= image_tag("missing.png",width: 92) %>
          <% else %>
              <div id ="image" style="width:92px;">
                <%= image_tag url_for(:controller => "profiles", :action => "code_image") %>
              </div>


          <% end %>
        </td>
        <td style="width:100px; vertical-align: top;"><div class="aboutbutton"><a href="javascript:void(0)">About Us</a></div></td>
        <td>
          <div class="profile_text" style="display: block;align:justify;">
            <%= @profile.about %>
          </div>
          <div class="profile_text2" style="display:none">
            <%= f.text_area :about,  :style => "width:550px;", :rows => 2, :cols => 220 %>
          </div>
        </td>
      </tr>
    </table>
    <br/>
    <div style="display: none;">
      <%=  f.submit "update Profile", :id=> "save" %>
    </div>


<% end %>


<div class="tabbable" style="width: 980px;margin-top: -36px;"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Past</a></li>
        <li><a href="#tab2" data-toggle="tab" >Present</a></li>
        <li><a href="#tab3" data-toggle="tab">Future</a></li>
      </ul>
</div>

    <div class="tab-content">
          <div class="tab-pane active" id="tab1">

            <p>
              <label class="qtnlb">Professional:</label><br>
              <% @past.each do |past| %>

                  <% if past.end_date!=nil %>
                      <% unless past.company_id.nil? %>
                      <label class="qtntab">Company name:</label><label class="anstab">
                      <% companyname = Company.find(past.company_id) %>

                      <%= companyname.company_name %></label><br>


                      <label class="qtntab">Title:</label><label class="anstab"><%= past.title %></label><br>

                      <label class="qtntab">Start date:</label><%= past.start_date %><br>

                      <label class="qtntab">End date:</label><%= past.end_date %><br>

                      <label class="qtntab">Project name:</label><%= past.project_name %><br>

                  <% end %>
                  <% end %>
              <% end %>
              <label class="qtnlb">Educations:</label><br>
              <% @education.each do |education| %>
                  <label class="qtntab" >School name:</label><label class="anstab"><%= education.school %></label><br>
                  <label class="qtntab" >Date attended:</label><%= education.date_attended %><br>
                  <label class="qtntab" >Degree:</label><%= education.degree %><br>
                  <label class="qtntab" >Field of Study:</label><%= education.field_of_study %><br>
                  <label class="qtntab" >Grade:</label><%= education.grade %><br>

              <% end %>
            </p>
          </div>

          <div class="tab-pane" id="tab2">
            <p><label class="qtnlb">Professional:</label><br>
              <% @past.each do |present| %>
                  <% if present.end_date == nil %>
                     <% unless present.company_id.nil? %>
                      <label class="qtntab">Company Name:</label><label class="anstab">

                      <% companyname = Company.find(present.company_id) %>
                      <%= companyname.company_name %></label><br>

                      <label class="qtntab">Start Date:</label><%= present.start_date %><br>

                      <label class="qtntab">Location:</label><%= present.location %><br>

                      <label class="qtntab">Project Name:</label><%= present.project_name %><br>


                  <% end %>
                  <% end %>
              <% end %>



            </p>
          </div>


          <div class="tab-pane" id="tab3">
            <p><label class="qtnlb">Goals:</label><br>
              <%=  render :partial => 'goalcomments' %>
            </p>
          </div>
    </div>


</div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
        </script>

        <script>
            $('.aboutbutton').click(function(){

                $('.profile_text').css('display', 'none');
                $('.profile_text2').css('display', 'block');
            });
        </script>

        <script>
            $(document).ready(function(){
                if("<%= @profile.about %>")
                {

                    $(".profile_text").html("<%= @profile.about %>").show();
                    $(".profile_text2").hide();
                }
                else
                {
                    $(".profile_text2").show();
                    $(".profile_text").hide();
                }

            });
        </script>

        <script>
            $('#profile_about').blur(function() {

                $('#save').trigger('click');
            });
        </script>

