<div id="container">
<%= form_for(@profile, url: about_update_profiles_path, :method => "post", :remote => true) do |f| %>
         <br>
         <div class="profile_about_n">
            <% unless current_user.profile.avatar_file? %>
            <%= image_tag("missing.png",width:120,height:120) %>
            <% else %>
            <div class ="profile_image_thumb">
              <%= image_tag url_for(:controller => "profiles", :action => "code_image"), :style => "height:100%;" %>
            </div>
            <% end %>
            <div class="profile_about_text">
              <div class="profile_about_btnn"><strong>My Story</strong></div>
            </div>
            <div style ="margin-left:148px;">
              <div class="profile_text">
                <div class="mystory_text"><%= best_in_place @profile, :about,:type => :textarea %></div>
              </div>
              <div class="profile_text2" style="display:none">
                <%= f.text_area :about,  :style => "width:810px;height:65;", :rows => 2, :cols => 220 %>
              </div>

            </div>
            <div id ="profile_about_list">
              Latest Activity:<label><%= current_user.profile.updated_at.strftime("%B %d, %Y") %></label>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              Date Joined:<label><%= current_user.created_at.strftime("%B %d, %Y") %></label> 
            </div>
            <div style="display: none;">
              <%=  f.submit "update Profile", :id=> "save" %>
            </div>
        </div>
<% end %>


<div class="tabbable" style="width: 100%;"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab"><b>Past</b></a></li>
        <li><a href="#tab2" data-toggle="tab" ><b>Present</b></a></li>
        <li><a href="#tab3" data-toggle="tab"><b>Future</b></a></li>
        <li id="editbtn"><%= link_to "Edit Profile", edit_profile_path(current_user.profile.id) %> </li>
      </ul>

</div>

    <div class="tab-content">
          <div class="tab-pane active" id="tab1">
              <label class="goals_tab_title">Professional:</label><br>
              <% @profile.professionals.each do |past| %>
                  <% if past.end_date!=nil %>
                      <% unless past.company_id.nil? %>
                      <br style="clear: both;"/>
                      <label class="about_meLft_col">Company name:</label><label class="about_meRht_col"><% companyname = Company.find(past.company_id) %><%= companyname.company_name %></label><br />
                      <label class="about_meLft_col">Title:</label><label class="about_meRht_col"><%= past.title %></label><br />
                      <label class="about_meLft_col">Start date:</label><label class="about_meRht_col"><%= past.start_date %></label><br />
                      <label class="about_meLft_col">End date:</label><label class="about_meRht_col"><%= past.end_date %></label><br />
                      <label class="about_meLft_col">Project name:</label><label class="about_meRht_col"><%= past.project_name %></label>
                      <hr class="comp_sep"/>
                      <% end %>
                  <% end %>
                 <% end %>
              <hr style="background-color: #99C853;height: 8px;"/>
              <label class="goals_tab_title">Education:</label>
              <% @profile.education.each do |education| %>
                  <% school = School.find(education.school_id) %>
                  <label class="about_meLft_col">School name:</label><label class="about_meRht_col"><%= school.school_name %></label><br />
                  <label class="about_meLft_col">Date attended:</label><label class="about_meRht_col"><%= education.date_attended %></label><br />
                  <label class="about_meLft_col">Degree:</label><label class="about_meRht_col"><%= education.degree %></label><br />
                  <label class="about_meLft_col">Field of Study:</label><label class="about_meRht_col"><%= education.field_of_study %></label><br />
                  <label class="about_meLft_col">Grade:</label><label class="about_meRht_col"><%= education.grade %></label><br /><hr class="comp_sep"/>
              <% end %>
          </div>

          <div class="tab-pane" id="tab2">
            <label class="goals_tab_title">Professional:</label>
              <% @profile.professionals.each do |present| %>
                  <% if present.end_date == nil %>
                     <% unless present.company_id.nil? %>
                      <label class="about_meLft_col">Company Name:</label><label class="about_meRht_col"><% companyname = Company.find(present.company_id) %><%= companyname.company_name %></label><br>
                      <label class="about_meLft_col">Start Date:</label><label class="about_meRht_col"><%= present.start_date %></label><br>
                      <label class="about_meLft_col">Location:</label><label class="about_meRht_col"><%= present.location %></label><br>
                      <label class="about_meLft_col">Project Name:</label><label class="about_meRht_col"><%= present.project_name %></label><br>
                        <label class="about_meLft_col">Affiliations:</label>
                        <% orgname = present.orgprofessions %>

                        <% orgname.each do |org_id| %>
                            <% check_org_status = Orgrequest.where("org_id = ? and status = ?", org_id.organization_id, 'approved').first %>
                          <% if check_org_status %>
                          <% org_naa = Organization.find(org_id.organization_id) %>


                            <label class="about_meRht_col"><%= org_naa.org_name %></label><br>
                         <% end %>
                        <% end %>

                            <% else %>
                          <p>There is No past professional information</p>
                      <% end %>
                  <% end %>
              <% end %>
          </div>

          <div class="tab-pane" id="tab3">
            <label class="goals_tab_title">Goals:</label>
            <div id="goal_cmts">
              <%=  render :partial => 'profile_about_goal' %>
            </div>
          </div>
    </div>

</div>
</div>
</div>


<script>
    $('.best_in_place').best_in_place()
</script>
