<div>
      <table id="topDIV_about">
          <tr>
            <td id="about_td">
              <% if@profile.avatar_file? %>



                  <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => @profile.id ),{ :class => "profile_image"} %>
              <% else %>
                  <%= image_tag("missing.png",height: 70,width: 80) %>
              <% end %>
            </td>
            <td valign="top">
              <table>
                <tr>
                  <td>
                    About Us
                  </td>
                </tr>
                <tr>
                  <td>
                    <%= @profile.about %>
                  </td>
                </tr>
              </table>
            </td>
            <% profile_user = User.find(@profile.user_id) %>
            <% if current_user.following?(profile_user) %>
                <td id="disconnect_<%=profile_user.id%>">
                  <%= button_to "Dis Connect", {:controller => :users, :action => :unfollow_profile, :id => profile_user.id}, :remote => true, :class => "btn" %>
                </td>
            <% else %>
                <td id="connect_<%=profile_user.id%>">
                  <%= button_to "Connect", {:controller => :users, :action => :follow_profile,  :id => profile_user.id},:remote => true, :class => "btn"%>
                </td>
            <% end %>
          </tr>
      </table>
        <div>
            <div id="bioDIV">
              <h2>PROFILE INFO</h2>
              <label class="qtn">First Name</label><label class="ans"><%= @profile.first_name %></label><br />
              <label class="qtn">Last Name</label><label class="ans"><%= @profile.last_name %></label><br />
              <label class="qtn">Birthday</label><label class="ans"><%= @profile.birthday %></label><br />
              <label class="qtn">Location</label><label class="ans"><%= @profile.location %></label><br />
              <label class="qtn">City</label><label class="ans"><%= @profile.city %></label><br />
              <label class="qtn">State</label><label class="ans"><%= @profile.state %></label><br />
              <label class="qtn">Interests</label><label class="ans"><%= @profile.interests %></label><br />
            </div>
        </div>
        <div id="ppfDIV">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs" style="margin-left: 4;">
              <li class="active"><a href="#tab1" data-toggle="tab">Past</a></li>
              <li><a href="#tab2" data-toggle="tab" >Present</a></li>
              <li><a href="#tab3" data-toggle="tab">Future</a></li>
            </ul>
          </div>
        </div>
      <div>  
      <div class="tab-content" style="margin-top: -30;">
        <div class="tab-pane active" id="tab1">


          <p><br>
            <label class="qtnlb">Professional:</label><br>
            <% @past[0..2].each do |past| %>

                <% if past.end_date!=nil %>
                    <% unless past.company_id.nil? %>
                    <% companyname = Company.find(past.company_id) %>


                    <label class="qtn">Company Name:</label><label class="ans"><%= companyname.company_name %></label><br>

                          <label class="qtn">Title:</label><label class="ans"><%= past.title %></label><br>

                          <label class="qtn">Start Date:</label><%= past.start_date %><br>

                          <label class="qtn">End Date:</label><%= past.end_date %><br>

                          <label class="qtn">Project Name:</label><%= past.project_name %><br>

                  <% end %>
                <% end %>
            <% end %>
            <label class="qtnlb">Educations:</label><br>
            <% @education.each do |education| %>
                <% unless education.school_id.nil? %>
                    <% schoolname = School.find(education.school_id) %>
                <label class="qtn" >School Name:</label><label class="ans"><%= schoolname.school_name %></label><br>
                <label class="qtn" >Date Attended:</label><%= education.date_attended %><br>
                <label class="qtn" >Degree:</label><%= education.degree %><br>
                <label class="qtn" >Field Of Study:</label><%= education.field_of_study %><br>
                <label class="qtn" >Grade:</label><%= education.grade %><br>

            <% end %>
            <% end %>
          </p>
        </div>
        <div class="tab-pane" id="tab2">
          <p><br>
            <label class="qtnlb">Professional:</label><br>
            <% @past.each do |present| %>
                <% if present.end_date == nil %>
                    <% unless present.company_id.nil? %>
                    <% companyname = Company.find(present.company_id) %>
                     <label class="qtn">Company Name:</label><label class="ans"><%= companyname.company_name %></label><br/>

                          <label class="qtn" >Start Date:</label><%= present.start_date %><br/>

                          <label class="qtn">Location:</label><%= present.location %><br/>

                          <label class="qtn">Project Name:</label><%= present.project_name %><br/>
                <% end %>
                <% end %>
            <% end %>

          </p>
        </div>

        <div class="tab-pane" id="tab3"> <br>
          <label class="qtnlb">Goals:</label><br>
          <p>

            <%=  render :partial => 'goalcomments' %>
          </p>
        </div>
      </div>
      <div id="follfDIV">
              <h2>CONNECTIONS</h2>
              <label class="ans"><%= render :partial => "profile_follow_followee" %></label><br />
        </div>
    </div>
</div>


