<table id="topDIV" style = "background-color: fff;height: 99;width:980px;margin-left:0px;">
  <tr>
    <td style="width:90px; height: 99px; vertical-align: top;">
      <% if@profile.avatar_file? %>


          <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => @profile.id ),{ :class => "profile_image"} %>
      <% else %>
          <%= image_tag("missing.png",height: 70,width: 80) %>
      <% end %>
    </td>
    <td valign="top">
      <table>
        <tr>
          <td>
            About Us
          </td>
        </tr>
        <tr>
          <td>
            <%= @profile.about %>
          </td>
        </tr>
      </table>
    </td>
    <% profile_user = User.find(@profile.user_id) %>
    <% if current_user.following?(profile_user) %>
        <td id="disconnect_<%=profile_user.id%>">
          <%= button_to "Dis Connect", {:controller => :users, :action => :unfollow_profile, :id => profile_user.id}, :remote => true, :class => "btn" %>
        </td>
    <% else %>
        <td id="connect_<%=profile_user.id%>">
          <%= button_to "Connect", {:controller => :users, :action => :follow_profile,  :id => profile_user.id},:remote => true, :class => "btn"%>
        </td>
    <% end %>
  </tr>
</table>
<div class="bioDIV">
  <h2 style="background-color: #51a2d5;
          color: #fff;
          font-size: 14px;
          padding: 5px;
          width: 150px;
          margin-left: -10px;
          margin-top: -10px;
          padding-left: 20px;">PROFILE INFO</h2>
  <label class="qtn">First Name</label><label class="ans"><%= @profile.first_name %></label><br />
  <label class="qtn">Last Name</label><label class="ans"><%= @profile.last_name %></label><br />
  <label class="qtn">Birthday</label><label class="ans"><%= @profile.birthday %></label><br />
  <label class="qtn">Lacation</label><label class="ans"><%= @profile.location %></label><br />
  <label class="qtn">City</label><label class="ans"><%= @profile.city %></label><br />
  <label class="qtn">State</label><label class="ans"><%= @profile.state %></label><br />
  <label class="qtn">Interests</label><label class="ans"><%= @profile.interests %></label><br />
</div>
<div class="profDIV">
  <h2 style= "background-color: #51a2d5; color: #fff;font-size: 14px;padding: 5px;width: 150px;margin-left: -10px;margin-top: -10px;padding-left: 20px;">PROFESSIONALS INFO</h2>
  <% professional = profile_professional(@profile.id) %>
  <% professional.each do |profession| %>
      <label class="qtn">Company Name</label><label class="ans"><%=  profession.company_name %></label><br />
      <label class="qtn">Lacation</label><label class="ans"><%=  profession.location %></label><br />
      <label class="qtn">Role</label><label class="ans"><%=  profession.role %></label><br />
      <label class="qtn">Project Name</label><label class="ans"><%=  profession.project_name %></label><br />
      <label class="qtn">Project Description</label><label class="ans"><%=  profession.project_description %></label><br />
  <% end %>
</div>
<div class="follfDIV">
  <h2 style="background-color: #51a2d5; color: #fff;font-size: 14px;padding: 5px;width:150px;margin-left: -10px;margin-top: -10px;padding-left: 20px;">FOLLOWING</h2>
  <label class="qtn"><%= render :partial => "profile_follow_followee" %></label><br />
</div>
</div>
<div class="follfDIV">
  <div class="tabbable" style = "background-color:#51A2D5"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">past</a></li>
      <li><a href="#tab2" data-toggle="tab" >present</a></li>
      <li><a href="#tab3" data-toggle="tab">future</a></li>
    </ul>
  </div>

  <div class="tab-content"  style = "background-color: white;margin-top: -20;">
    <div class="tab-pane active" id="tab1">

      <p>
        <% @past.each do |past| %>

            <% if past.end_date!=nil %>

                <%= past.company_name %><br>
                <%= past.title %><br>
                <%= past.start_date %><br>
                <%= past.end_date %><br>
                <%= past.project_name %>

            <% end %>
        <% end %>
      </p>
    </div>
    <div class="tab-pane" id="tab2">
      <p>
        <% @past.each do |present| %>
            <% if present.end_date == nil %>
                <%= present.company_name %><br>
                <%= present.start_date %><br>
                <%= present.location %><br>
                <%= present.project_name %><br>

            <% end %>
        <% end %>

      </p>
    </div>

    <div class="tab-pane" id="tab3">
      <p>
        <%=  render :partial => 'goalcomments' %>
      </p>
    </div>
  </div>
</div>