<%= form_for(@requesttomentor) do |f| %>
  <% if @requesttomentor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requesttomentor.errors.count, "error") %> prohibited this requesttomentor from being saved:</h2>

      <ul>
      <% @requesttomentor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :following_id %><br />
    <%= f.number_field :following_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
