
<%= form_for(@professional, :remote => true) do |f| %>

  <table align="center">
    <tr>
    <div class="field">
    <%= f.hidden_field :profile_id, :value => current_user.profile.id %>
    <td><%= f.label :company_name %></td>
    <td><%=  f.text_field :companyname, :id=> "company_name_id", :required => true,:class=>"kxtbnoperzcv" %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :location %></td>
      <td><%= f.text_field :location,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :role %></td>
      <td><%= f.text_field :role,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :start_date %></td>

      <td><%= f.text_field :start_date, :id => "date_picker_modal" %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :end_date %></td>
      <td><%= f.date_select :end_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :professional_headline %></td>
      <td><%= f.text_field :professional_headline,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :aspriations %></td>
      <td><%= f.text_area :aspriations, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>

    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :achievements %></td>
      <td><%= f.text_area :achievements, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :affiliations %></td>
      <td><%= f.text_area :affiliations, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :project_name %></td>
      <td><%= f.text_field :project_name,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :project_end_date %></td>
      <td><%= f.date_select :project_end_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :project_start_date %></td>
      <td><%= f.date_select :project_start_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :project_description %></td>
      <td><%= f.text_area :project_description, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>
    </div>
  </tr>
  <tr>
    <td></td>
    <td>
      <div class="actions"><%=  f.submit "save" , :id=> "save" %>
      </div>
    </td>
   </tr>
  </table> 

<% end %>

      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />



<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<script>//<![CDATA[

    var availableTags = [<% for i in 0...@company.length %>
        '<%= @company[i].company_name %>',
        <% end %>
    ];
    $( "#company_name_id" ).autocomplete({
        source: availableTags
    });



</script>

<link rel="stylesheet" type="text/css" href="/assets/jquery.datepick.css">
<script type="text/javascript" src="/assets/jquery.datepick.js"></script>
<script>

    $('#date_picker_modal').datepick({
        format: 'mm-dd-yyyy'
    });
</script>
<style type="text/css">


   .ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
      z-index: 1500;

   }
   .datepick-popup{
       z-index: 1500;!important
   }

</style>