<%= form_for(@professional) do |f| %>
  <% if @professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
      <% @professional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br />
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :professional_headline %><br />
    <%= f.text_field :professional_headline %>
  </div>
  <div class="field">
    <%= f.label :aspriations %><br />
    <%= f.text_area :aspriations %>
  </div>
  <div class="field">
    <%= f.label :achievements %><br />
    <%= f.text_area :achievements %>
  </div>
  <div class="field">
    <%= f.label :affiliations %><br />
    <%= f.text_area :affiliations %>
  </div>
  <div class="field">
    <%= f.label :project_name %><br />
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :project_end_date %><br />
    <%= f.date_select :project_end_date %>
  </div>
  <div class="field">
    <%= f.label :project_start_date %><br />
    <%= f.date_select :project_start_date %>
  </div>
  <div class="field">
    <%= f.label :project_description %><br />
    <%= f.text_area :project_description %>
  </div>
    
    

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
