<%= form_for(@professional, :remote => true) do |f| %>

  <table align="center">
    <tr>
    <div class="field">
    <%= f.hidden_field :profile_id, :value => current_user.profile.id %>
    <td><%= f.label :company_name %></td>
    <td><%=  f.text_field :companyname, :id=> "company_name", :required => true,:class=>"kxtbnoperzcv" %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :location %></td>
      <td><%= f.text_field :location,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :role %></td>
      <td><%= f.text_field :role,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :start_date %></td>
      <td><%= f.date_select :start_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :end_date %></td>
      <td><%= f.date_select :end_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :professional_headline %></td>
      <td><%= f.text_field :professional_headline,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :aspriations %></td>
      <td><%= f.text_area :aspriations, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>

    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :achievements %></td>
      <td><%= f.text_area :achievements, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :affiliations %></td>
      <td><%= f.text_area :affiliations, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :project_name %></td>
      <td><%= f.text_field :project_name,:class=>"kxtbnoperzcv"  %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :project_end_date %></td>
      <td><%= f.date_select :project_end_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :project_start_date %></td>
      <td><%= f.date_select :project_start_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :project_description %></td>
      <td><%= f.text_area :project_description, :style => "height: 62;",:class=>"kxtbnoperzcv"  %></td>
    </div>
  </tr>
  <tr>
    <td></td>
    <td>
      <div class="actions"><%=  f.submit "save" , :id=> "save" %>
      </div>
    </td>
   </tr> 
  </table> 

<% end %>

      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />



 <script>
          var availableTags = [
              "Athens",
              "Sydney",
              "New York",
              "London",
              "Zurich",
              "Singapore"
          ];
          $("#company_name").autocomplete({source: availableTags
          });
$('#save').on("click", function{
  console.log('sdfsfsfsdfsfsfsdfsdfdpfpppppppppppppppppppppppppppppppppppppppppppppppp');
});
 </script>