<%= form_for(@professional, :remote => true) do |f| %>
  <% if @professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professional.errors.count, "error") %> prohibited this professional from being saved:</h2>

      <ul>
      <% @professional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table align="center">
    <tr>
    <div class="field">
    <%= f.hidden_field :profile_id, :value => current_user.profile.id %>
    <td><%= f.label :company_name %></td>
    <td><%= f.text_field :company_name %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :location %></td>
      <td><%= f.text_field :location %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :role %></td>
      <td><%= f.text_field :role %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :start_date %></td>
      <td><%= f.date_select :start_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :end_date %></td>
      <td><%= f.date_select :end_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, :style => "height: 62;" %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :professional_headline %></td>
      <td><%= f.text_field :professional_headline %></td>
    </div>
    </tr>
    <tr>
    <div class="field">
      <td><%= f.label :aspriations %></td>
      <td><%= f.text_area :aspriations, :style => "height: 62;" %></td>

    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :achievements %></td>
      <td><%= f.text_area :achievements, :style => "height: 62;" %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :affiliations %></td>
      <td><%= f.text_area :affiliations, :style => "height: 62;" %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :project_name %></td>
      <td><%= f.text_field :project_name %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :project_end_date %></td>
      <td><%= f.date_select :project_end_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :project_start_date %></td>
      <td><%= f.date_select :project_start_date, :order => [:year, :month] %></td>
    </div>
    </tr>
    <tr>  
    <div class="field">
      <td><%= f.label :project_description %></td>
      <td><%= f.text_area :project_description, :style => "height: 62;" %></td>
    </div>
  </tr>
  <tr>
    <td></td>
    <td>
      <div class="actions"><%=  f.submit "save" , :id=> "save" %>
      </div>
    </td>
   </tr> 
  </table> 

<% end %>

