<%= form_for(@orgrequest) do |f| %>
  <% if @orgrequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orgrequest.errors.count, "error") %> prohibited this orgrequest from being saved:</h2>

      <ul>
      <% @orgrequest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :org_id %><br />
    <%= f.number_field :org_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
