<h1>Listing goal_comments</h1>

<table>
  <tr>
    <th>Goal</th>
    <th>Commenter</th>
    <th>Comment description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @goal_comments.each do |goal_comment| %>
  <tr>
    <td><%= goal_comment.goal_id %></td>
    <td><%= goal_comment.commenter_id %></td>
    <td><%= goal_comment.comment_description %></td>
    <td><%= link_to 'Show', goal_comment %></td>
    <td><%= link_to 'Edit', edit_goal_comment_path(goal_comment) %></td>
    <td><%= link_to 'Destroy', goal_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Goal comment', new_goal_comment_path %>
