- i = 1
= content_tag_for(:li, conversation) do |conversation|
  %p
    = link_to conversation.subject, conversation
    - notification  = Notification.where("conversation_id = ?", conversation.id).first
    %div{:class => "commentbutton#{i} "}
      %a{:href => "javascript:void(0)", :onclick => "open_form(#{i})"} Change Priority
      %div{:class => "profile_text#{i}", :style => "display: none;"}
        = form_tag('/feedback/change_priority') do
          = select_tag :priority,  options_for_select([["red"],["green"],["Blue"]])
          = text_field_tag :conversation_id, conversation.id
          = submit_tag 'Send', :id => "send"
        - i +=1

    -#|
    -#- if conversation.is_completely_trashed?(current_user)
    -#  = link_to 'Untrash', [:untrash, conversation], method: :post
    -#- else
    -#  = link_to 'Move to trash', [:trash, conversation], method: :post
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
:javascript
  function open_form(e)
  {

      $('.profile_text'+ e).css('display', 'block');


  }
:javascript
     $('#priority').change(function() {
     $('#send').trigger('click');
  });