<div class="priority_form">
  <%- @i = 1 %>
  <%= content_tag_for(:li, conversation) do |conversation| %>
    <% notification  = Notification.where("conversation_id = ?", conversation.id).first %>
     <% message =  notification.receipts.where("mailbox_type = ? and receiver_id =?", 'inbox', current_user.id).first %>
     <% unless message.nil? %>
          <div class="message_box" style = "background-color:<%=message.priority%>;">
            <%= link_to conversation.subject, conversation %>
            <a href = "javascript:void(0)" onclick = "open_form(<%= @i %>)"> Change Priority</a>
            <div class = "profile_text<%= @i %>" style = "display: none;" >

              <%= form_tag('/feedback/change_priority', :remote => true) do %>
                  <div class="priority">
                  <%= select_tag "priority", options_for_select([["Default Color"],["red"],["green"],["Blue"]]).html_safe,  :class => 'priority' %>
                  </div>
                <%= hidden_field_tag :conversation_id, message.id %>
                 <%= submit_tag 'Send', :id => "send", :style => 'visibility: hidden' %>
              <% end %>
            </div>
            <%- @i+= 1 %>
     <% end %>
      </div>

  <% end %>


</div>
<script>
    function open_form(e)
    {

        $('.profile_text'+ e).css('display', 'block');


    }
</script>
<script>
$('.priority').change(function() {
  alert("xxx");
var color = $(this).val();
$('.message_box').css('background-color', color);
$('#send').trigger('click');
$('.profile_text').css('display', 'none');

});
</script>