.priority_form
  = content_tag_for(:li, conversation) do |conversation|
    - notification  = Notification.where("conversation_id = ?", conversation.id).first
    - messages =  notification.receipts.where("mailbox_type = ? and receiver_id =?", "inbox", current_user.id)
    - messages.each do |message|
      %div{:class =>"message_box#{conversation.id}", :style => "background-color:#{message.priority};"}
        = link_to conversation.subject, conversation
        %div{:class => "commentbutton#{conversation.id} "}
          %a{:href => "javascript:void(0)", :onclick => "open_form(#{conversation.id})"} Change Priority
        %div{:class => "profile_text#{conversation.id}", :style => "display: none;"}
          = form_tag('/feedback/change_priority', :remote => true) do
            = select_tag :priority,  options_for_select([["Default Color"],["red"],["green"],["blue"]]).html_safe, :id => "priority#{conversation.id}", :onchange => "change_form(#{conversation.id})"
            = hidden_field_tag 'conversation_id', "#{message.id}", class: "conversation#{conversation.id}"
            = submit_tag 'Send', :id => "send", :style => 'visibility: hidden'
    


  -#|
    -#- if conversation.is_completely_trashed?(current_user)
    -#  = link_to 'Untrash', [:untrash, conversation], method: :post
    -#- else
    -#  = link_to 'Move to trash', [:trash, conversation], method: :post
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
:javascript
  function open_form(e)
  {

      $('.profile_text'+ e).css('display', 'block');


  }
:javascript
  function change_form(m)
  {
    var color = $("#priority" + m).val();
    var message = $(".conversation" + m).val();
    $('.message_box' + m ).css('background-color', color);
    $.ajax({
            url: "/feedback/change_priority",

            data: { color: color, message_id: message  },
            cache: false
           

        })
   
     $('.profile_text' + m).css('display', 'none');
  }