.priority_form
  - i = 1
  = content_tag_for(:li, conversation) do |conversation|
    - notification  = Notification.where("conversation_id = ?", conversation.id).first
    - message =  notification.receipts.where("mailbox_type = ? and receiver_id =?", 'inbox', current_user.id).first
    -unless message.nil?
      .message_box{:style => "background-color:#{message.priority};"}
        = link_to conversation.subject, conversation
        %div{:class => "commentbutton#{i} "}
          %a{:href => "javascript:void(0)", :onclick => "open_form(#{i})"} Change Priority
          %div{:class => "profile_text#{i}", :style => "display: none;"}
            = form_tag('/feedback/change_priority', :remote => true) do
              = select_tag :priority,  options_for_select([["Default Color"],["red"],["green"],["Blue"]])
              = hidden_field_tag :conversation_id, message.id
              = submit_tag 'Send', :id => "send", :style => 'visibility: hidden'


    -#|
    -#- if conversation.is_completely_trashed?(current_user)
    -#  = link_to 'Untrash', [:untrash, conversation], method: :post
    -#- else
    -#  = link_to 'Move to trash', [:trash, conversation], method: :post
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
:javascript
  function open_form(e)
  {

      $('.profile_text' + e).css('display', 'block');



  }
:javascript
     $('#priority').change(function() {
     var color = $(this).val();
     $('.message_box').css('background-color', color);
     $('#send').trigger('click');
    $('.profile_text').css('display', 'none');

  });