= content_tag_for(:li, conversation) do |conversation|
  - notification  = Notification.where("conversation_id = ?", conversation.id).first
  - messages =  notification.receipts.where("mailbox_type = ? and receiver_id =?", "inbox", current_user.id)
  %br/
  %br/
  - messages.each do |message|
  - profile_pic = Profile.where("user_id =?", notification.sender_id).first
    %ul#pinned_message
      %li{:class =>"message_box#{conversation.id} conversation_boxes", :id => "pin_image", :style => "background-color:#{message.priority}; background-image: url('/assets/pin.png') !important; background-repeat: no-repeat; background-position-x: 131px;background-position-y: 7px; "}
        - if profile_pic.avatar_file.nil?
          =image_tag("missing.png", :style => "width:60px;height:75px" )
        - else
          = image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => profile_pic.id ), {:width=>'60px', :height => '60px'}
        %label
          =profile_pic.first_name
        %p
          sub:
          = link_to conversation.subject, conversation
          %div{:class => "commentbutton#{conversation.id} "}
            %a{:href => "javascript:void(0)", :onclick => "open_form(#{conversation.id})"} Change Priority
          %div{:class => "profile_text#{conversation.id}", :style => "display: none;"}
            = form_tag('/feedback/change_priority', :remote => true) do
              = select_tag :priority,  options_for_select([["yellow"],["DeepSkyBlue"],["MediumPurple"],["SandyBrown"],["LightSteelBlue"]]),:style=>'width: 185px;', :id => "priority#{conversation.id}", :onchange => "change_form(#{conversation.id})"
              = hidden_field_tag 'conversation_id', "#{message.id}", class: "conversation#{conversation.id}"


:javascript
  function open_form(e)
  {

      $('.profile_text'+ e).css('display', 'block');


  }
:javascript
  function change_form(m)
  {
    var color = $("#priority" + m).val();
    if(color =="yellow" )
    {
     var color_code = "#FEFF75";
    }
    else if (color =="DeepSkyBlue" ){
       var color_code = "#00BFFF";
    }
    else if(color =="MediumPurple") {
    var color_code = "#9370DB";
    }
    else if(color =="SandyBrown") {
    var color_code = "#F4A460";
        }
    else if(color =="LightSteelBlue") {
    var color_code = "#B0C4DE";
     }
    var message = $(".conversation" + m).val();
    $('.message_box' + m ).css('background-color', color_code);
    $.ajax({
            url: "/feedback/change_priority",

            data: { color: color_code, message_id: message  },
            cache: false


        })

     $('.profile_text' + m).css('display', 'none');
  }
