<div>
	<div id ="centerDIV" style ="width: 290;height: 230;background-color:#CDE9FF;margin-left: 0;">
	<table>
			<%= form_for :conversation, url: :conversations do |f| %>
			<tr>
			<td>	
			Recipents</td>
			<td><%= f.text_field :recipients %></td>
			</tr>
			<tr>
				<td>Subject</td>
			    <td><%= f.text_field :subject %></td>
			</tr>
			<tr>
			    <td>Body</td>
			    <td><%= f.text_area :body, :rows => 5, :cols => 5 %></td>
			</tr>
			<tr>
				<td></td>
			    <td><%= f.button :submit %></td>
			</tr>
			<% end %>
			<% @company = User.all %>
</table>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/assets/select2.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/select2.css">
<script>
    $("#conversation_recipients").click(function() {
        $("#conversation_recipients").select2({tags:[<% for i in 0...@company.length %>
            '<%= @company[i].email %>',
            <% end %>]});
    });

</script>

