<%= form_for :conversation, url: :conversations do |f| %>
Recipents<%= f.text_field :recipients %><br/>
Subject<%= f.text_field :subject %><br/>
Body<%= f.text_area :body, :rows => 5, :cols => 5 %><br/>
<div class="form-actions">
  <%= f.button :submit %>
      </div>
<% end %>
<% @company = User.all %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $("#conversation_recipients").click(function() {
        $("#conversation_recipients").select2({tags:[<% for i in 0...@company.length %>
            '<%= @company[i].email %>',
            <% end %>]});
    });

</script>