<%= form_for :conversation,  url: :conversations, :html => { :id => "conv"} do |f| %>
<div id="fom">
	<div class="input_fld_div" >
		<label>Recipients</label>
		<%= f.text_field :recipients, :id => "conversationrecipients", :class=>"txt_inp" %>
    </div>

	<div class="input_fld_div">
		<label>Subject</label>
		<%= f.text_field :subject, :required => true,:class=>"txt_inp" %>
	</div>
	<div  class="input_fld_div">
		<label>Body</label>
		<%= f.text_area :body, :rows => 5, :cols => 5, :required => true,:class=>"txt_inp" %>
	</div>

    <%= hidden_field_tag :get_id,'',:class=>"get_id" %>

	<div class="input_fld_div" style="padding-left: 330px;">
	<%= f.submit "send",:class=>'conv_send_btn' %></td>
	<% end %>

	</div>
</div>

<script>
    $(document).ready(function(){

       var availableTags = [<% for i in 0...get_user_list.length %>{"label":"<%= get_user_list[i].first_name %>","value":"<%= get_user_list[i].id %>"}, <% end %>];
        jQuery("input#conversationrecipients").each(function(){
            var target = jQuery(this);
            var currenttags = target.val();
            target.hide()
                    .after("<ul class=\"tagit-new\"><li>"+currenttags+"</li></ul>");
            var instance = target.next();
            instance.tagit({
                tagSource:availableTags,
                tagsChanged:function () {
                    var tags = instance.tagit('tags');
                    var tagString = [];
                    for (var i in tags){

                        tagString.push(tags[i].value);
                    }
                    $(".get_id").val(tagString.join(','));
                },
                sortable:true,
                triggerKeys: ['enter', 'comma', 'tab']
            });
        });
    });

</script>
<script>
  $('#conv').submit(function(){
      if($('.get_id').val()=="")
      {
          alert("please enter any receipts");
          return false;
      }

  });

</script>




