<%= form_for :conversation, url: :conversations do |f| %>
<div id="fom">
	<div class="input_fld_div" >
		<label>Recipients</label>
		<%= f.text_field :recipients, :id => "conversation_recipients", :required => true,:class=>"txt_inp" %>
	</div>

	<div class="input_fld_div">
		<label>Subject</label>
		<%= f.text_field :subject, :required => true,:class=>"txt_inp" %>
	</div>
	<div  class="input_fld_div">
		<label>Body</label>
		<%= f.text_area :body, :rows => 5, :cols => 5, :required => true,:class=>"txt_inp" %>
	</div>

	<div class="input_fld_div" style="padding-left: 330px;">
	<%= f.submit "send",:class=>'conv_send_btn' %></td>
	<% end %>
	<% @company = Profile.all %>
	</div>
</div>

<script>
    $(document).ready(function(){
        var sampleTags = [<% for i in 0...@company.length %>
            '<%= @company[i].first_name %>',
            <% end %>];

        //-------------------------------
        // Tag events
        //-------------------------------

        var eventTags = $('#conversation_recipients');

        var addEvent = function(text) {
            $('#events_container').append(text + '<br>');
        };

        eventTags.tagit({
            availableTags: sampleTags,
            beforeTagAdded: function(evt, ui) {
                if (!ui.duringInitialization) {

                    addEvent('beforeTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));

                }
            },
            afterTagAdded: function(evt, ui) {
                if (!ui.duringInitialization) {
                    addEvent('afterTagAdded: ' + eventTags.tagit('tagLabel', ui.tag));
                }
            },
            beforeTagRemoved: function(evt, ui) {
                addEvent('beforeTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
            },
            afterTagRemoved: function(evt, ui) {
                addEvent('afterTagRemoved: ' + eventTags.tagit('tagLabel', ui.tag));
            },
            onTagClicked: function(evt, ui) {
                addEvent('onTagClicked: ' + eventTags.tagit('tagLabel', ui.tag));
            },
            onTagExists: function(evt, ui) {
                addEvent('onTagExists: ' + eventTags.tagit('tagLabel', ui.existingTag));
            }
        });
    });
</script>




