<div id ="centerDIV" style ="width: 290;height: 230;background-color:E1E1E1;margin-left: 0;">
		<%= form_for :conversation, url: :conversations do |f| %>
	<table>
			
			<tr>
			<td>	
			Recipents</td>
			<td><%= f.text_field :recipients, :id => "conversation_recipients", :required => true %></td>
			</tr>
			<tr>
				<td>Subject</td>
			    <td><%= f.text_field :subject, :required => true %></td>
			</tr>
			<tr>
			    <td>Body</td>
			    <td><%= f.text_area :body, :rows => 5, :cols => 5, :required => true %></td>
			</tr>
			<tr>
				<td></td>
			    <td><%= f.submit "send" %></td>
			    <% end %>
			<% @company = User.all %>
			</tr>
			
    </table>
</div>    

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="/assets/select2.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/select2.css">
<script>
    $("#conversation_recipients").click(function() {
        $("#conversation_recipients").select2({tags:[<% for i in 0...@company.length %>
            '<%= @company[i].email %>',
            <% end %>]});
    });

</script>




