<div id ="centerDIV" style ="width: 290;height: 230;background-color:E1E1E1;margin-left: 0;">
		<%= form_for :conversation, url: :conversations do |f| %>
	<table>
			
			<tr>
			<td>	
			Recipents</td>

			<td><%= f.text_field :recipients, :id => "conversation_recipients", :required => true %></td>
			</tr>
			<tr>
				<td>Subject</td>
			    <td><%= f.text_field :subject, :required => true %></td>
			</tr>
			<tr>
			    <td>Body</td>
			    <td><%= f.text_area :body, :rows => 5, :cols => 5, :required => true %></td>
			</tr>
			<tr>
				<td></td>
			    <td><%= f.submit "send" %></td>
			    <% end %>
			<% @company = Profile.all %>
			</tr>
			
    </table>
</div>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
    var availableTags = [<% for i in 0...@company.length %>
        '<%= @company[i].first_name %>',
        <% end %>
    ];
    $("#conversation_recipients").autocomplete({source: availableTags
    });
</script>




