<div id="container" style="background-color:#fff;padding:20px;">
  <h4 style="border-bottom:1px solid #000;">Conversations</h4>
  <div>
        <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
        <% sender_find = receipt.notification.sender_id %>
        <% sender_name = User.find(sender_find)%>
            <% unless sender_name.profile.avatar_file.nil? %>
            <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => sender_name.profile.id ),{ :class => "profile_image", :style => "width:40;height:40;float:left;"} %>
            <% else %>
                <%= image_tag("missing.png",height: 30,width: 30) %>
            <% end %>

            <label>
              <%=  sender_name.profile.first_name%>
            </label><br  style="clear:both;"/>
            <% change_is_read(receipt) %>
            <% message = receipt.message %>
            <p style="margin-left:50px;"> <%=  message.subject %><p>
            <p style="margin-left:50px;"> <%=  message.body %><p>
    <% end %>

      <%= button_tag "Reply", :id=> "reply", :class => "replybtn" %>
  </div>      
    <div class="reply_form" style="display: none;float:left;margin-top:10px;margin-left:50px">
    <%= render 'messages/form', conversation: conversation %>
</div>
</div>

<script>
  $('#reply').click(function(){
  $('.reply_form').show();
  $(this).hide();
  });

</script>