<style type="text/css">
  .posted_text, .subject {
      padding-left: 6px;
  }
  p {
      color: white;
  }
</style>
<ul>
   
  <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
      <%=  receipt.id %>

   <% sender = Receipt.where("mailbox_type = ? and id = ?", "sentbox", receipt.id).first %>
       <% if sender %>
          <%=  sender.mailbox_type %>
          <%=  sender.id %>
            <%  user = User.where("id = ? ", sender.receiver_id).first %>
          <% unless user.profile.avatar_file.nil? %>
           <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id=> user.profile.id), {:width => "50px", :height => "50px"} %>
          <% else %>
          <%= image_tag("/assets/missing.png", :height => 25, :weight => 25) %>
         <% end %>
  <% else %>
         <%= "else block" %>
          <% reciver = Receipt.where("mailbox_type = ? and id = ?", "inbox", receipt.id).first %>
          <%=  reciver.mailbox_type %>
          <%=  reciver.id %>
          <%  user = User.where("id = ? ", reciver.receiver_id).first %>
          <% unless user.profile.avatar_file.nil? %>
              <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id=> user.profile.id), {:width => "50px", :height => "50px"} %>
          <% else %>
              <%= image_tag("/assets/missing.png", :height => 25, :weight => 25) %>
          <% end %>
  <% end %>

      <% message = receipt.message %>
      <% unless user.profile.nil? %>
      <p><%=  user.profile.first_name %><span class="posted_text">Posted</span><span class="subject"><%=  message.subject %></span></p>
      <% else %>
      <p><%=  message.sender_id %></p>
      <% end %>

      <p><%=  message.body %></p>
  <% end %>
</ul>
<%= button_tag "Reply", :id=> "reply" %>
<div class="reply_form" style="display: none;">
<%= render 'messages/form', conversation: conversation %>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script>
  $('#reply').click(function(){
  $('.reply_form').show();
  $(this).hide();
  });

</script>