.container
  %table.main_table
    %tr
      %td
        %table
          %tr
            %td.box1
              %table.network
                %tr
                  %td
                    %table
                      %tr
                        %td
                          = image_tag("icons/network.gif")
                        %td
                          .network_text Network
                  %td
                    %table.message
                      %tr
                        %td
                          = image_tag("icons/messages.gif")
                        %td
                          .network_text Messages
              %table
                %tr
                  %td.mentor_mentee_peer
                    %table
                      %tr
                        %td
                          %table.follow_and_followee
                            %tr
                              %td.mentor
                                .mentors
                                  Mentor
                                  = @follow ? @follow : "0"
                            %tr
                              %td.mentor
                                .mentee
                                  Mentee
                                  = @following ? @following : "0"
                            %tr
                              %td
                                .peers
                                  Peers
                                  = @peer ? @peer : "0"

                  %td
                    %table.message_updates
                      %tr
                        %td
                          %h2
                          %ul= render "message"

              %table.chat
                %tr
                  %td
                    %table.chat_logo
                      %tr
                        %td
                          = image_tag("icons/chat-updates.gif")
                        %td
                          .network_text Chat Updates
                  %td
                    %table.todolist
                      %tr
                        %td
                          = image_tag("icons/todolist.gif")
                        %td
                          .network_text To Do List
              %table
                %tr
                  %td
                    %table.chat_updates
                      %tr
                        %td Coming Soon..
              %table
                %tr
                  %td
                    %table.todo_list_updates
                      %tr
                        %td
                          = link_to("Add Todo", new_todo_path)
                          -@todos.each do |todo|
                            %tr
                              %td
                                %table
                                  %tr
                                    %td
                                      =todo.event_date.to_date.strftime("%B %d, %Y")
                                  %tr
                                    %td
                                      =link_to("#{todo.start_time.strftime("%I:%M%p")}   #{todo.end_time.strftime("%I:%M%p")}", todo_path(todo.id))
                                  %tr
                                    %td
                                      =todo.title
                                  %tr
                                    %td
                                      =truncate todo.description, length: 100        
                                

      %td.box2_td
        %table
          %tr
            %td.box2
              %table
                %tr
                  %td
                    .activity
                      .activity_logo
                        =image_tag("icons/activity.gif")
                        .activity_text Activity
                    .mentee_activites
                      %table
                        %tr
                          %td
                            %td.activity_users
                              %table
                                -  @posts.each do |post|
                                  - user = User.find(post.user_id)
                                  %tr
                                    %td
                                      - unless user.profile.nil?
                                        - unless current_user.profile.avatar_file.nil?
                                          = image_tag url_for(:controller => "profiles", :action => "code_image"),{ :class => "thumb_image"}
                                        - else
                                          = image_tag("missing.png",height: 25,width: 25)
                                      - unless user.profile.nil?
                                        =user.profile.first_name + " " + user.profile.last_name
                                        %br/
                                        =truncate(post.current_post, length: 1)
                                      %tr
                                        %td
                                          %table
                                            %tr
                                              %td.time_ago
                                                = time_ago_in_words(post.created_at) + " " + "ago"
                                              %td.comment
                                                = link_to "Comment", comment_current_post_post_path(post)
                                              %td.share share
                                          %hr
                        %tr
                          %td
                            - if @posts.length > 3
                              = link_to "more", posts_path
  %table.table_footer
    %tr
      %td.footer_middle
  %table.main_table2
    %tr
      %td
        %table
          %tr
            %td.box3
              %table.network
                %tr
                  %td
                    %table
                      %tr
                        %td
                          = image_tag("icons/newsfeeds.gif")
                        %td
                          .network_text News Feeds
              %table
                %tr
                  %td
                    .news_header Loren Ipsum Dolor Sit Amit Consectitue Elit
              %table
                %tr
                  %td
                    .news Loren ipsum dolor sit amit consectitue elit loren insum dolor sit amit consectitue elit
              %table.news_middle
                %tr
                  %td
                    = image_tag("pic.png")

              %table.news_footer
                %tr
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
                  %td.space
                  %td
                    = image_tag("missing.png")
      %td.box2_td
        %table
          %tr
            %td.box4
              %table.box_table4
                %tr
                  %td
                    - if current_user.profile.image?
                      = image_tag(current_user.profile.image.url(:thumb))
                    - else
                      = image_tag("missing.png",height: 70,width: 80)
                  %td{:valign => "top"}
                    %table
                      %tr
                        %td.table4
                          Associations
                        %td.table4
                          Profile Views
                      %tr
                        %td.table4
                          %table
                            %tr
                              %td.associations
                                .assoc_number 3
                              %td.school_text Schools
                            %tr
                              %td.space2
                            %tr
                              %td.organization
                                .assoc_number 5
                              %td.school_text Organization
                            %tr
                              %td.space2
                            %tr
                              %td.company
                                .assoc_number 2
                              %td.school_text Companies
                        %td.table4
                          %table
                            %tr
                              %td.associations
                                .assoc_number
                                  = @current ? @current : "0"
                              %td.school_text Today
                            %tr
                              %td.space2
                            %tr
                              %td.organization
                                .assoc_number
                                  = @past ? @past : "0"
                              %td.school_text Past 3 months
                            %tr
                              %td.space2
                            %tr
                              %td.company
                                .assoc_number
                                  = @past_seven ? @past_seven : "0"
                              %td.school_text Past 7 months
                %tr
                  %table
                    %tr
                      %td Latest Activity:
                    %tr
                      %td
                        = current_user.profile.updated_at.strftime("%B %d, %Y")
                    %tr
                      %td Date Joined
                    %tr
                      %td
                        = current_user.created_at.strftime("%B %d, %Y")
                    %tr
                      %td About
                    %tr
                      %td
                        = current_user.profile.about

  %table.table_footer
    %tr
      %td.footer_middle

