<% if flash[:notice] %>
    <div class="alert alert-success">
      <button class="close" data-dismiss="alert" type="button"> ×</button>
      <p class="text-info"><%= flash[:notice] %></p>
    </div>
<% end %>
<!-- .................. HEADER SECTION END.............. -->
<!-- .................. TOP DIV ........................ -->
<div id="container">
  <div id="topDIV">
    <div id="feedsDiv">
      <div id="networkDiv">
        <h2 class="networkH2">Network</h2>
        <ul>
          <li class="network_li">Mentees<span class="net_count"><%= @follow ? @follow : "0" %></span></li>
          <li class="network_li">Mentors<span class="net_count"><%= @following ? @following : "0" %></span></li>
          <li class="network_li">Peers<span class="net_count"><%= @peer ? @peer : "0" %></span></li>
        </ul>
      </div>
      <div id="chatUpdatesDiv">
        <h2 class="chatUpdatesHk2">Chat Updates</h2>
        Coming Soon..
      </div>
      <div id="messagesDiv">
        <h2 class="messagesH2">Messages</h2>
        <%= render "message" %>
      </div>
      <div id="todoListDiv">
        <h2 class="todoListH2">To Do List</h2>
        <%= link_to("Add Todo", new_todo_path, :style => "color:#51A2D5", :title => "click here to add Todo")
            @todos.each do |todo| %><br>
            <%= todo.event_date.to_date.strftime("%B %d, %Y") %><br>
            <%= link_to("#{todo.start_time.strftime("%I:%M%p")} -  #{todo.end_time.strftime("%I:%M%p")}", todo_path(todo.id), :style => "color:#51A2D5",:title => "click here to show Todo")  %><br>
            <%= todo.title %><br>
            <%= truncate todo.description, length: 100 %>
        <% end %>
      </div>
    </div>

    <!-- .............. ACTIVITY DIV.......... -->
    <div id="activityDiv">
      <h3>Activity</h3>
      <ul id="activityUL"  style = "margin-top: -20px;" >
        <% if current_user.follow_count > 0 || current_user.followers_count > 0 %>
            <% @users[0..2].each do |user| %>

                <% if current_user.following?(user) || current_user.followed_by?(user) %>

                    <% other_posts = user.posts %>

                    <% if other_posts.count < 0 %>
                        <% other_posts.each do |post| %>
                            <li class="activityLI">
                              <% unless user.profile.nil? %>
                                  <% unless user.profile.avatar_file.nil? %>
                                      <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => user.profile.id),{ :class => "thumb_image"} %>
                                  <%else %>
                                      <%= image_tag("missing.png",height: 70,width: 70) %>
                                  <% end %>
                              <% end %>
                              <label><%= user.profile.first_name %> <%= user.profile.last_name %></label>
                              <% unless user.profile.nil? %>
                                  <%= truncate(post.current_post, length: 1) %>
                              <% end %>
                              <ul id="infoUL">
                                <li class="infoLI"><%= time_ago_in_words(post.created_at) %> ago </li>
                                <li class="infoLI"><%= link_to "Comment", comment_current_post_post_path(post) %></li>
                              </ul>
                        <% end %>
                       <% else %>
                            <p> No Activity found</p>
                       <% end %>
                      </li>

                <% end %>

            <% end %>
      </ul>
    </div>
  </div>

  <!-- .................. BOTTOM DIV ..................... -->
  <div id="bottomDIV"  style ="margin-left:-47px">
    <div id="newsFeedsDiv"  style="margin-top:80px">
      <h2 class="newsfeedsH2">News Feeds</h2>
      <label>Lorem ipsum dolor sit ametendis et.</label>
      <p>Lorem ipsum dolor sit amet, t rerum qui atque doloribus quasi minima eligendi dolore dolorem! Beatae, consectetur.</p>
      <div id= "slideshow">
        <div id= "slideShow">
          <%= image_tag("/assets/slide_1.jpg") %>
        </div>

        <div class= "thumbs">
          <ul class= "thumbs">
            <li class="thumb"><%= image_tag("/assets/thumb.jpg") %></li>
            <li class="thumb"><%= image_tag("/assets/thumb.jpg") %></li>
            <li class="thumb"><%= image_tag("/assets/thumb.jpg") %></li>
            <li class="thumb"><%= image_tag("/assets/thumb.jpg") %></li>
            <li class="thumb"><%= image_tag("/assets/thumb.jpg") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="dashboardDiv"  style="margin-top:80px">

      <div id="user_info">
        <% if current_user.profile.avatar_file %>
            <%= image_tag url_for(:controller => "profiles", :action => "code_image"), {:width => 100, :height => 100} %>
        <% else %>
            <%= image_tag("missing.png", :width => 100, :height => 100) %>
        <% end %>
        <label  style="font-size:10px;color:#96c953;">Latest Activity:</label>
        <p  style="font-size:10px;"><%= current_user.profile.updated_at.strftime("%B %d, %Y") %></p>
        <label  style="font-size:10px;color:#96c953;margin-top:-22px;">Date Joined:</label>
        <p  style="font-size:10px;padding-bottom:30px;"><%= current_user.created_at.strftime("%B %d, %Y") %></p>
        <label  style="font-size:10px; margin-top: -36px;">About:</label>
        <p  style="font-size:10px;text-align: justify;"><%= truncate(current_user.profile.about, :length => 15) %></p>
      </div>
      <div id="assoAndPV">
        <div id="associations">
          <label  style="color:#96c953;">Associations</label>
          <ul>
            <li  style="color:#96c953;"><span class="asso_count" style="background-color:#96c953;"><%= @all_school ? @all_school : "0" %></span>Schools</li>
            <li  style="color:#96c953;"><span class="asso_count" style="background-color:#96c953;"><%= @all_affilation ? @all_affilation : "0" %></span>Companies</li>
          </ul>
        </div>
        <div id="profile_views">
          <label  style="color:#54a1d5;">Profile Views</label>
          <ul  style="width:140px;">
            <li  style="color:#54a1d5;"><span class="pv_count" style="background-color:#54a1d5;"><%= @current ? @current : "0" %></span>Today</li>
            <li  style="color:#54a1d5;"><span class="pv_count" style="background-color:#54a1d5;"><%= @past ? @past : "0" %></span>Past 3 months</li>
            <li  style="color:#54a1d5;"><span class="pv_count" style="background-color:#54a1d5;"><%= @past_seven ? @past_seven : "0" %></span>Past 7 Months</li>
          </ul>
        </div>
      </div>
      <div id="meeting">
        <ul>
          <li><span  style="margin-left:15px;">You Should Meet</span></li>
          <li>
            <label>Bob Smith</label>
            <p>1 mentor in common</p>
          </li>
          <li>
            <label>Steven Myers</label>
            <p>5 mentor in common</p>
          </li>
          <li>
            <label>Beth Johnson</label>
            <p>2 mentor in common</p>
          </li>
        </ul>
      </div>
      <div id="requests">
        <label  style="padding:4px 0px; font-size:16px;letter-spacing: 1px;color:#96c953;">Requests</label>
        <ul>
          <li>
            <label>Mentees</label>
            <% if @reqtomentor > 0 %>
            <p><%= link_to @reqtomentor, show_request_path %></p>
            <% else %>
            <p>no requests</p>
            <%  end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>