<div id="feedback">
  <div id="clsoe_btn">-</div>
  <p>We Want Your Feedback!</p>
  <hr class="style-one">
  <p>Share your comments,concerns &amp; ideas with the Addament team.</p>
  <div id="form_feedback">
    <%= form_tag('/feedback/send_email') do %>
        <div class="fld_bg">
          <label for="love" id="love_it">Subject</label>
          <%= hidden_field_tag :current_form, '', :value => "#{controller.controller_name}" %>
          <%= hidden_field_tag :current_action, '', :value => "#{controller.action_name}" %>
          <%= text_field_tag :title %>

          <label for="bug">Category</label>
          <%= select_tag :category,  options_for_select([["suggest new feautres"],["Improve this page"],["I like this page"]]) %>

          <label for="idea">Description</label>
          <%= text_area_tag :message %>
          <br/>
          <div id="save"> <%= submit_tag 'Send', :id=>"feedback_button" %></div>
        </div>
    <% end %>
  </div>
  <hr class="style-one">
</div>



<script>
    $(document).ready(function(){
        $('select').css({'width': 200});

        $('#btn').click( function(){
            if ($('#feedback').css('display') == 'none') {$('#love_it').click();};
            $('#feedback').show(300);

        });
        $('#clsoe_btn').click( function(){
            $('#feedback').hide(200);
        });

        $('.fld_bg label').click( function(){
            // close all tabs..
            $(this).closest('.fld_bg').siblings().animate({
                "height":'20px',
                'queue':true
            });
            // remove text field if exist..
            $('#feed_text_area').remove();

            // open tab..
            $(this).closest('.fld_bg').animate({
                "height":'226px',
                'queue':true
            });
            // ADD TEXT AREA..

        });
        // CENTER FORM..

        $(window).on('resize',function(){
            $('#feedback').css({
                'position': 'fixed',
                'left': '50%',
                'top': '50%'
            });
            $('#feedback').css({
                'margin-left': -$('#feedback').outerWidth() / 2 + 'px',
                'margin-top': -$('#feedback').outerHeight() / 2 + 'px'
            });
        });
        $(window).resize();
    });
</script>
