<div id="feedback">
  <div id="clsoe_btn">-</div>
  <p>We Want Your Feedback!</p>
  <hr class="style-one">
  <p>Share your comments,concerns &amp; ideas with the Addament team.</p>
  <div id="form_feedback">
    <%= form_tag('/feedback/send_email') do %>
        <div class="fld_bg">
          <label for="love" id="love_it">Subject</label>
          <%= text_field_tag :title %>

          <label for="bug">Category</label>
          <%= select_tag :category,  options_for_select([["suggest new feautres"],["Improve this page"],["I like this page"]]) %>

          <label for="idea">Description</label>
          <%= text_area_tag :message %>
          <br/>
          <div id="save"> <%= submit_tag 'Send', :id=>"feedback_button" %></div>
        </div>
    <% end %>
  </div>
  <hr class="style-one">
</div>

<div id="btn">feedback</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('select').css({'width': 200});

        $('#btn').click( function(){
            if ($('#feedback').css('display') == 'none') {$('#love_it').click();};
            $('#feedback').show(300);

        });
        $('#clsoe_btn').click( function(){
            $('#feedback').hide(200);
        });

        $('.fld_bg label').click( function(){
            // close all tabs..
            $(this).closest('.fld_bg').siblings().animate({
                "height":'20px',
                'queue':true
            });
            // remove text field if exist..
            $('#feed_text_area').remove();

            // open tab..
            $(this).closest('.fld_bg').animate({
                "height":'226px',
                'queue':true
            });
            // ADD TEXT AREA..

        });
        // CENTER FORM..

        $(window).on('resize',function(){
            $('#feedback').css({
                'position': 'fixed',
                'left': '50%',
                'top': '50%'
            });
            $('#feedback').css({
                'margin-left': -$('#feedback').outerWidth() / 2 + 'px',
                'margin-top': -$('#feedback').outerHeight() / 2 + 'px'
            });
        });
        $(window).resize();
    });
</script>
<style type="text/css">
    #feedback{
        position: absolute;
        background-color: #222;
        width: 300px; height: 400px;
        margin-top: 180px; margin-left: 50px;
        display: none;
        border-top-left-radius: 16px;
        box-shadow: 0px 0px 20px rgba(0,0,0,.4)
    }
    #btn{
        position: absolute;
        background-color: #222;
        padding: 5px;bottom: 0px;
        right: 0px;cursor: pointer;
        color: #fff;
    }
    #clsoe_btn{
        background-color: #222;
        width: 30px; height: 30px;
        position: absolute;
        margin-left: 270px;
        margin-top: -29px;
        text-align: center;
        line-height: 30px;
        font-family:monospace;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
    }
    #feedback p{
        text-align: center;
        color: #fff;
        padding: 6px;
    }
    #form_feedback{
        margin-top: -43px;
        height: 245px;
    }
    #feedback_button {
        color: #fff;
        background: #999;
        border: 0px;
        border-radius: 20px;
        padding: 5px;
        font-size: 13px;
        font-family: itc_avant_garde;
        width: 80px;
        cursor: pointer;
        font-weight: bold;
        margin-top: -5px;
        margin-left: 61px;
    }
    #form_feedback .fld_bg{
        background-color: #333;
        border-radius: 5px;
        width: 240px;
        margin-top: 2px;
        padding: 10px; margin-left: 20px;
    }
    #form_feedback .fld_bg label{
        padding: 0px; margin: 0px;
        color: #fff;display: inline-block; margin-left: 5px;
        cursor: pointer;
        width: 220px;
    }
    #feed_text_area{
        margin-top: 10px;
        resize:none;
        width: 240px;height: 90px;
    }
    hr.style-one {
        border: 1px dotted #333;
    }
</style>