<div id="footer">
  <div class="footerContent">
    <div>
      <ul id="footer_menu">
        <li class="footer_menu_item"><%=  link_to "HOME", posts_path %></li>
        <li class="footer_menu_item"><%= link_to "PROFILE", about_profiles_path %></li>
        <li class="footer_menu_item"><%= link_to "MENTORS", public_profile_path %></li>
        <li class="footer_menu_item"><%= link_to "MESSAGES", conversations_path %></li>
        <li class="footer_menu_item"><%= link_to "PATH", goals_path %></li>
      </ul>
      <br style="clear:both;"/>
    </div>
    <div class="footer_copy_rights">
      <div class="footer_rights_details">Copyright 2013 Addament  All Rights Reserved</div>
      <div class="footer_privacy_policy">Privacy Policy</div></div>
  </div>
      <div id ="btn" class="feedback_fbtn">FeedBack</div>
</div>