<%= form_for(@profile_comment, :remote => true) do |f| %>
  <% if @profile_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile_comment.errors.count, "error") %> prohibited this profile_comment from being saved:</h2>
      <ul>
      <% @profile_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :profile_id %><br />
    <%= f.number_field :profile_id %>
  </div>
  <div class="field">
    <%= f.label :commenter_id %><br />
    <%= f.number_field :commenter_id %>
  </div>
  <div class="field">
    <%= f.label :comment_description %><br />
    <%= f.text_area :comment_description %>
  </div>
  <div class="actions">
    <%= f.submit "Comment", :id => "save" %>
  </div>
<% end %>
