<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= @profile_comment.profile_id %>
</p>

<p>
  <b>Commenter:</b>
  <%= @profile_comment.commenter_id %>
</p>

<p>
  <b>Comment description:</b>
  <%= @profile_comment.comment_description %>
</p>


<%= link_to 'Edit', edit_profile_comment_path(@profile_comment) %> |
<%= link_to 'Back', profile_comments_path %>
