<div id="centerDIV"style="width:980px;height:534px;margin-left:0">
<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  
  <br>
  <table align="center">
    <tr>
      <td></td>
      <td><h3 style="color:A3C953">New ToDo</h3></td>
    </tr>  
    <tr>
    <td class="qtn"><%= f.label :Title %></td>
    <td><%= f.text_field :title %></td>
    </tr>
    <tr>
    <td class="qtn"><%= f.label :Description %></td>
    <td><%= f.text_area :description, :style => "width:205px;height:50px" %></td>
    </tr>
    <tr>
    <td class="qtn"><%= f.label :Date %></td>
    <td><%= f.text_field :event_date, :id => "datepicker" %></td>
    </tr>
    <tr>
    <td class="qtn"><%= f.label :Start_Time %></td>
    <td><%= f.time_select :start_time %></td>
    </tr>
    <tr>
    <td class="qtn"><%= f.label :End_Time %></td>
    <td><%= f.time_select :end_time %></td>
    </tr>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <tr>
    <td></td> 
    <td><div class="actions">
        <%= f.submit "SAVE", :class => "postbtn",:style => "width:70px" %>
        </div>
    </td>
  </tr>
<% end %>
</table>
</div>

<link rel="stylesheet" type="text/css" href="/assets/jquery.datepick.css">
<script type="text/javascript" src="/assets/jquery.datepick.js"></script>


<script>
    $("#datepicker").datepick();
    $("#datepicker").datepick({dateFormat: 'yyyy-mm-dd'});
</script>
