<br>
<table class="todo_list">

  <tr style="background: 51A2D5;">
    <th>Start Time</th>
    <th>End Time</th>
    <th>Date</th>
    <th>Title</th>
    <th>Edit</th>
  </tr>
  <tr></tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%=todo.start_time%></td>
    <td><%=todo.end_time%></td>
    <td><%=todo.event_date%></td>
    <td><%=todo.title%></td>
    <td><%= link_to 'Show', todo %>
    <%= link_to 'Edit', edit_todo_path(todo) %>
    <%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo', new_todo_path %>
