
<%=  @post.current_post %>
<% comment = @post.comments %>
<br/>
<div style="background-color: #f0f0f0;">
  <%  comment.each do |comment_id|  %>
      <% profile = Profile.where("user_id =? ",comment_id.commenter_id).first %>
      <div class="post_curcomment">
      <table>
        <tr>
           <td>
             <table>
               <tr>
                 <% unless profile.avatar_file.nil? %>
                     <td>
                       <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => profile.id),{ :class => "thumb_image" } %>
                     </td>
                 <% else %>
                     <td>
                       <%=  image_tag("missing.png",height: 70,width: 70) %>
                     </td>
                 <% end %>
               </tr>
             </table>
          </td>

          <td>
            <table>
              <tr>
                <td><%=  profile.first_name %></td>
              </tr>
              <tr>
                <td>Commented
                  <%=  comment_id.description %></td>
              </tr>
             </table>
          </td>

        </tr>

        <tr>
          <td colspan="3">
            <%= comment_id.created_at.strftime("%d %b") %>
            <%= time_ago_in_words(comment_id.created_at) %>ago<span class="clearFix">&nbsp;</span>
          </td>
  <% end %>
  </tr>
  </table>
</div>
</div>