
<% profile = Profile.find_by_user_id(@post.user_id) %>
<% unless profile.avatar_file.nil? %>
<div id="actl_cmt_user_click">
   <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => profile.id ),{ :class => "thumb_image",:style=>"display:inline-block;"} %>
   <% else %>
   <%= image_tag("missing.png", :class => "thumb_image", :style=>"display:inline-block" ) %>
   <% end %>
<p>
  <%=  @post.current_post %>
  <br />
  <label><span style="color:#666;cursor:default;">posted by</span> <%= profile.first_name %></label></p>
</div>
  <% comment = @post.comments %>
<div  style="margin-top:25px; margin-left:80px;">

  <%  comment.each do |comment_id|  %>
  <div id="userCMT" style="width:900px!important;">
    <% profile = Profile.where("user_id =? ",comment_id.commenter_id).first %>
    <% unless profile.avatar_file.nil? %>
    <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => profile.id),{ :class => "thumb_image_f_post" } %>
    <% else %>
    <%=  image_tag("missing.png") %>
    <% end %>
    <p style="width:840px;margin-top:5px;">
      <span id="cmt_first_name"><%=  profile.first_name %> commented : </span>
      <%=  comment_id.description %>
      <span id="cmtPostedAgo">
        <%= comment_id.created_at.strftime("%d %b") %>
        <%= time_ago_in_words(comment_id.created_at) %>ago
      </span>
    </p>
    <br style="clear:both;">
  </div>
  <% end %>

</div>