<div class="post_curcomment">





<% i = 1 %>
<% @posts.each do |post| %>
    <% user = User.find(post.user_id) %>
    <div class="user_posts_box">
      <% unless user.profile.avatar_file.nil? %>
          <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => user.profile.id ),{ :class => "thumb_image"} %>
      <% else %>
          <%=  image_tag("missing.png",height: 70,width: 70) %>
      <% end %>
      <%= user.profile.first_name  %> <font style="color:51A2D5">Posted</font>
      <%= post.current_post %>
    </div> 
    <div class="commentbutton<%= i %>" style="margin-left:100px">
      <a href="javascript:void(0)" onclick ="open_form(<%= i%>)">Comment</a>
      <div class="profile_text<%= i %>" style="display: none;">
        <div class="comment_form" >
          <%=  render 'comments/form', :id => post.id %>
        </div>
      </div>
    </div>
    <div><%=render post.comments%></div>

   <% i +=1 %>
<% end %>



  <br />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script>
    function open_form(e)
    {

        $('.profile_text'+ e).css('display', 'block');

    }
</script>