<% @posts = current_user.posts.order('created_at desc') %>
  <% i = 1 %>
  <% @posts.each do |post| %>
  <% user = User.find(post.user_id) %>
  <li class ="post_list_item">

    <% unless user.profile.avatar_file.nil? %>
    <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => user.profile.id ),{ :class => "thumb_image"} %>
    <% else %>
    <%=  image_tag("missing.png",height: 70,width: 70) %>
    <% end %>
    <div id="cmt_section" style="float:right; margin:0px;padding:0px; background:rgba(99,99,99,.001);width:590px!important;">
      <label>
        <%= user.profile.first_name  %><span style="float:right;cursor:default;font-weight:100;">
        <%= post.created_at.strftime("%d %b") %>
      </span>
      </label>
      <p class="cmt">
        <%= best_in_place post, :current_post, :class => "purr" %> <%= link_to image_tag("/assets/close.png",:style => "width:14px"), post, method: :delete, data: { confirm: 'Are you sure?' } %>

      </p>
      <p>
        <span class="comments_cnt"style="display:inline-block;margin-left: -5px!important; padding-right:20px;">
          <!-- fssdfsdf -->


          <%= time_ago_in_words(post.created_at) %> ago
          <!-- dsadasdasdasd -->
        </span>
        <a href="javascript:void(0)" onclick ="open_form(<%= i%>)">
          <span class="comments_cnt" style="display:inline-block;"><%= comments_count(post) %>&nbsp;Comments</span>
        </a>
      </p>
    
    <div id="allCMTS" class="profile_text<%= i %>" style="display: none;">
      <div><%=render post.comments %></div>
      <div class="commentbutton<%= i %>" style="margin-left:0px">
      <div>
        <div class="comment_form" style="margin-top:5px;">
          <%=  render 'comments/form', :id => post.id,:style=>"width:590px;" %>
        </div>
      </div>
    </div>
    </div>

    </div>
    <br style="clear:both;"/>
  </li>
  <% i +=1 %>
  <% end %>



<script>
    var oldCmts;

    function open_form(e)
    {
        if (oldCmts) {
          oldCmts.slideToggle();
        }
        $('.profile_text'+ e).slideToggle();
        oldCmts = $('.profile_text'+ e);
    }
</script>
<script>
    $('.best_in_place').best_in_place()
</script>