<div id="h_sep_div">&nbsp;</div>
 <div id="container">
 <div id="h_top_div">
  <div class="post_slide">
   <%= image_tag("/assets/cover.jpg")%>
   <div id="cover_tit_div">
    <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h1>
    <p></p>
    <label><a href="#">read more</a></label>
   </div>
     </div>

  <div id="h_t_r_div">
      <div id="ppl_m_kn_div">
    <h2>PEOPLE YOU MAY KNOW</h2>
    <div id="ppl_you_know_con_div">
     <ul>
                     <div id="all_users">
                     <%= render :partial => 'all_users' %>
                     </div>
                 </ul>
    </div>

   </div>
  </div>
 </div>
 <!-- ............................................................................................ -->
 <!-- <div id="h_sep_div">&nbsp;</div> -->
 <!-- ............................................................................................ -->
 <div id="h_bottom_div">
  <div id="users_posts">

    <div class="post_status" >
      <div id="post_form">
      <%=  render :partial => 'form' %>
      </div>
    </div>

    <div id="post_items_div">
      <h2 id="activitiesH2">ACTIVITIES</h2>
      <ul id="posts_ul">
        <%= render :partial => 'posts_comments' %>
      </ul>
      <div id="load_more">load more</div>
    </div>
  </div> 
  <div id="rightSideDiv">
                  <h2>SPONSORS</h2>
      <ul>
      <li>
      <label>Ready for Google xPhone?</label>
      <p>open.etoro.com</p>
      <%= image_tag("s1.png") %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestias, similique,</p>
      </li>

         </ul>
             </div>
  </div>
 <!-- ..................................................................................... -->
</div>

  <script>
   (function($){
    $(window).load(function(){

     $('#ppl_you_know_con_div').mCustomScrollbar();
    });
    // --------------LOAD MORE FUNCTIONS...

    var posts_con_UL = document.getElementById('posts_ul');
    var all_comments = $('#posts_ul > li');
    var posts_len = all_comments.length;
    $('#posts_ul').html("");
    var i = 0;
    var run_time= 1;
    var list_last_item = document.createElement("li");
    list_last_item.setAttribute("class","post_list_item_last");
    posts_con_UL.appendChild(list_last_item);

    $('#load_more').on("click", loadMoreItems);
    function loadMoreItems(){
      for(i=$('#posts_ul > li').length-1; i<posts_len; i++){
        console.log($('#posts_ul > li').length);
        // --------------------------------
        $('#posts_ul li:last').before(all_comments[i]);

       // posts_con_UL.appendChild(all_comments[i]);
        // --------------------------------
        run_time++;
        if (run_time>5) {
          run_time =1;
          break;
        };
      }// FOR LOOP END...
      if ($('#posts_ul > li').length-1 >= posts_len) {$("#load_more").html("No more posts..!")};
    }loadMoreItems();
    // --------------LOAD MORE FUNCTIONS END.....
    
   })(jQuery);

  </script>  
