<br><div id = "centerDIV" style ="width:690px;height:400px;margin-left:0">

	<%= image_tag("/assets/cover.jpg")%>
	<div id="cover_tit_div">
						<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h1>
						<p>Dolore, alias, neque et est necessitatibus ducimus officiis repellendus praesentium doloremque eius in earum</p>
						<label><a href="#">read more</a></label>
					</div>
</div>

<div class="post_status" >
<div id="post_form">
  <%=  render :partial => 'form' %>
</div>
</div>
<div class="post_curcomment">
<div id="post_comment" style="width:730px;">
<%= render :partial => 'posts_comments', @posts => @posts %>
<%= will_paginate @posts %>
</div>
</div>

<div id="h_t_r_div">
    <div id="ppl_m_kn_div" style = "height: 418px;margin-top: -1276;">
		<h2>PEOPLE YOU MAY KNOW</h2>
			<div id="ppl_you_know_con_div">
					<ul>
						<li>
							<%= image_tag("ppl_thumb_01.png") %>
							<label>Name Goes Here</label>
							<p>Dolor sit amet consectiur elit</p>
							<a href="#">Add to network</a>
						</li>
						<li>
							<%= image_tag("ppl_thumb_02.png") %>
							<label>Name Goes Here</label>
							<p>Dolor sit amet consectiur elit</p>
							<a href="#">Add to network</a>
						</li>
						<li>
							<%= image_tag("ppl_thumb_03.png") %>
							<label>Name Goes Here</label>
							<p>Dolor sit amet consectiur elit</p>
							<a href="#">Add to network</a>
						</li>
						<li>
							<%= image_tag("ppl_thumb_04.png") %>
							<label>Name Goes Here</label>
							<p>Dolor sit amet consectiur elit</p>
							<a href="#">Add to network</a>
						</li>
						<li>
							<%= image_tag("ppl_thumb_05.png") %>
							<label>Name Goes Here</label>
							<p>Dolor sit amet consectiur elit</p>
							<a href="#">Add to network</a>
						</li>
						<li>
							<%= image_tag("ppl_thumb_06.png") %>
							<label>Name Goes Here</label>
							<p>Dolor sit amet consectiur elit</p>
							<a href="#">Add to network</a>
						</li>
						<li>
							<%= image_tag("ppl_thumb_05.png") %>
							<label>Name Goes Here</label>
							<p>Dolor sit amet consectiur elit</p>
							<a href="#">Add to network</a>
						</li>
						<li>
							<%= image_tag("ppl_thumb_01.png") %>
							<label>Name Goes Here</label>
							<p>Dolor sit amet consectiur elit</p>
							<a href="#">Add to network</a>
						</li>
					</ul>
			</div>
			<p style="text-align:center;color:#ccc; font-size:12px;padding-top:5px; letter-spacing:1px;cursor:pointer;">See all</p>
	</div>
</div>
		
<div id="h_t_r_div">
    <div id="ppl_m_kn_div" style ="margin-top: -785px;height: 800px;">
		<h2>sponsers</h2>
			<div id="ppl_you_know_con_div" style ="height: 700px;background-color: white;">
					<ul>
					<li>
					<label>Ready for Google xPhone?</label>
					<p>open.etoro.com</p>
					<%= image_tag("s1.png") %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestias, similique,</p>
					</li>
					<li>
					<label>Ready for Google xPhone?</label>
					<p>open.etoro.com</p>
					<%= image_tag("s2.png") %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestias, similique,</p>
					</li>
					<li>
					<label>Ready for Google xPhone?</label>
					<p>open.etoro.com</p>
					<%= image_tag("s4.png") %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestias, similique,</p>
					</li>
					<li>
					<label>Ready for Google xPhone?</label>
					<p>open.etoro.com</p>
					<%= image_tag("s2.png") %>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestias, similique,</p>
					</li>
				    </ul>
            </div>
	  </div>
</div>			



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="/assets/jquery.mCustomScrollbar.js"></script>
		<script>
			(function($){
				$(window).load(function(){
					// console.log('dfsdf');
					$('#ppl_you_know_con_div').mCustomScrollbar();
				});
			})(jQuery);
		</script>