<% milestone_id = 1 %>
<% @goals.each do |goal| %>
    <div class="mile_stone<%= milestone_id %>" style="display:none;">
      <div class="roundCornDiv">
        <label><%= goal.created_at.strftime("%B %d, %Y") %></label>
      </div>
      <% i = 1 %>
      <% margin_top = 70 %>
      <% margin_top_milestone = 111 %>
      <% milestone = goal.milestones %>

      <% if milestone.length == 0 %>
          <% @margin_top_end_date = margin_top + 450 %>
      <% end %>
      <% if milestone.length == 1 ||2  %>
          <% @margin_top_end_date = margin_top + 485 %>
      <% end %>

      <% unless milestone.empty? %>
          <% milestone[0..3].each do |mile_stone| %>

              <% no_of_steps = mile_stone.steps %>
              <% if no_of_steps.length == 3 %>
                  <% margin_top = margin_top + 148 %>

              <% end %>
              <% unless no_of_steps.length >= 3 %>

                  <div class="stepDiv" style="margin-top:<%= margin_top %>px;">

                    <div class="button2">
                      <a data-toggle="modal" data-target = "#myModal<%= milestone_id %>" href="/steps/new/?id=<%= mile_stone.id %>">Add Steps</a>
                      <div id="myModal<%= milestone_id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h3 id="myModalLabel">Add Newstep</h3>
                        </div>
                        <div class="modal-body"></div>
                      </div>
                    </div>
                    <% milestone_id += 1 %>


                  </div>
                  <% if no_of_steps.length ==1 %>
                      <% margin_top = margin_top + 50 %>
                  <% end %>
                  <% if no_of_steps.length ==2 %>
                      <% margin_top = margin_top + 100 %>
                  <% end %>

              <% end %>
              <% no_of_steps.each do |step_no| %>
                  <div class="stepDiv" style="margin-top:<%= margin_top_milestone %>px;">
                    <label style="color: white;"><%= best_in_place step_no, :step_description, :class => "purr" %>
                      <span id="step_delete"><%= link_to 'x', step_no, method: :delete, data: { confirm: 'Are you sure?' },:title => "delete step" %></span>
                    </label>
                  </div>
                  <% margin_top_milestone = margin_top_milestone + 50 %>
              <% end %>
              <div class="mileStone" style="margin-top:<%= margin_top_milestone %>px;">
                <label style="color: white;"><%= best_in_place mile_stone, :mile_Stone_step, :class => "purr" %>
                  <span id="step_delete"><%= link_to 'x', mile_stone, method: :delete, data: { confirm: 'Are you sure?' }, :title => "delete milestone" %></span>
                </label>
              </div>
              <% i += 1 %>
              <% margin_top = margin_top + 100 %>
              <% margin_top_milestone = margin_top_milestone + 100 %>
          <% end %>
      <% else %>
          <!--<br/>-->
          <!--<br/>-->
          <!--<h2> No milestones are added</h2>-->
      <% end %>
      <div class="roundCornDiv" style="margin-top:<%= @margin_top_end_date + 35 %>px;">
        <label><%= goal.target_date.strftime("%B %d, %Y") %></label>
      </div>
      <div style="position:absolute; width:360px;margin-top:<%= @margin_top_end_date %>px;">
        <div class="button2">
          <a class="btn" data-toggle="modal" data-target = "#myModal<%= milestone_id %>" href="/milestones/new/?id=<%= goal.id %>">Add Milestone</a>
          <div id="myModal<%= milestone_id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Add New Milestone</h3>
            </div>
            <div class="modal-body"></div>
          </div>
        </div>
        <% milestone_id += 1 %>
      </div>
    </div>
<% end %>