|<div id="goals_new">
<br>
<h2>New Goal</h2>
<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table align=center style="background:white;width:500px">
    <tr>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <td><%= f.label :goal_name %></td>
    <td><%= f.text_field :goal_name %></td>
  </div>
  </tr>
    <tr>
  <div class="field">
    <td><%= f.label :target_date %></td><br />
    <td><%= f.text_field :target_date, :id => "date_picker" %></td>
  </div>
   </tr>
    <tr>
  <div class="actions">
    <td></td>
    <td><%= f.submit "submit" , :class => "goal_btn" %></td>
  </div>
    </tr>
</table>
<% end %>
</div>

 <link rel="stylesheet" type="text/css" href="/assets/jquery.datepick.css">
      <script type="text/javascript" src="/assets/jquery.datepick.js"></script>
<script>
    $('#date_picker').datepick({
        format: 'mm-dd-yyyy'
    });
</script>