<div id="request">
<% @organizations.each do |check_orgreq| %>
    <% check_status = Orgrequest.where("org_id = ? and status = ?",check_orgreq.id, 'pending').first %>
    <% if check_status %>
        <% user_info = Profile.find_by_user_id(check_status.user_id) %>
        <% if user_info %>

            <table>
              <tr>
                <td>
                      <% unless user_info.avatar_file? %>
                        <%= image_tag("missing.png",width:70,height:70) %>
                    <% else %>
                          <%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => user_info.id), { :class => "thumb_image"} %>
                    <% end %>
                </td>
                <td> <label><%= user_info.first_name %><%= user_info.last_name %></label></td>
                <td> <%= button_to "Accept", {:controller => :organizations, :action => :accept_user,  :id => check_status.id},:remote => true, :class => "requestbtn" %></td>
                <td> <%= button_to "Reject", {:controller => :organizations, :action => :reject_user,  :id => check_status.id},:remote => true, :class => "requestbtn" %></td>
              </tr>

            </table>
        <% end %>
        <hr>
    <% end %>
<% end %>
</div>