<div id="container" style="background-color: #ffffff">
  <br>
  <%= link_to 'New Organization', new_organization_path, :class => "btn btn-link", :style => "margin-left:5px;font-family:bold"  %>
  <hr/>
<% @organizations.each do |organization| %>

      <div>
        <div class ="org_logo">
      <% unless organization.org_logo? %>
          <%= link_to image_tag("missing.png",width:70,height:70), url_for({:controller => 'organizations', :action => 'show', :id => organization.id}) %>

          <% else %>

            <a href ="organizations/<%= organization.id %>"><%= image_tag url_for(:controller => "organizations", :action => "code_image", :id => organization.id) %></a>

      <% end %>
        </div>
      <table>

      <tr><td><label class="about_meLft_col">Organization name:</label><label class="about_meRht_col"><%= organization.org_name %></label><br /></td></tr>
       <tr><td><label class="about_meLft_col">Organization Url:</label><label class="about_meRht_col"><%= organization.org_url %></label><br /></td></tr>

     </table>

      </div>
      <hr>

<% end %>

  <% if @organizations.length == 0 %>
      <h2 style="width:275px;margin-left: 270px;">No Organizations created </h2>
      <% end %>


  <h2 style="width: 250px;">Organization requests</h2>
    <div id="orgrequest"><%= render :partial => 'pending_org_request' %></div>


</div>

