<p id="notice"><%= notice %></p>

<p>
  <b>Org name:</b>
  <%= @organization.org_name %>
</p>

<p>
  <b>Org url:</b>
  <%= @organization.org_url %>
</p>

<p>
  <b>Org admin email:</b>
  <%= @organization.org_admin_email %>
</p>

<p>
  <b>User:</b>
  <%= @organization.user_id %>
</p>


<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
