<div id="container" style="background-color: #ffffff">
  <br/>
  <h2>Our Story</h2>
  <br/>
  <div>
    <div class ="org_logo">
      <% unless @organization.org_logo? %>
          <%= link_to image_tag("missing.png",width:70,height:70), url_for({:controller => 'organizations', :action => 'show', :id => @organization.id}) %>

      <% else %>

          <a href ="organizations/<%= @organization.id %>"><%= image_tag url_for(:controller => "organizations", :action => "code_image", :id => @organization.id) %></a>

      <% end %>
    </div>
    <table>

      <tr><td><label class="about_meLft_col">Organization name:</label><label class="about_meRht_col"><%= @organization.org_name %></label><br /></td></tr>
      <tr><td><label class="about_meLft_col">Description:</label><label class="about_meRht_col"><%= best_in_place @organization, :org_description %></label><br /></td></tr>
      <tr><td><label class="about_meLft_col">Organization Url:</label><label class="about_meRht_col"><%= @organization.org_url %></label><br /></td></tr>
      <tr><td><label class="about_meLft_col">Organization Email:</label><label class="about_meRht_col"><%= @organization.org_admin_email %></label><br /></td></tr>


    </table>
</div>
</div>

<script>
    $('.best_in_place').best_in_place()
</script>
