<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<div id="container">

  <div id="centerDIV" style = "width:646px;">

      <%= form_for(@education) do |f| %>
        <table align="center">
          <div id="error_explanation">
            <ul>
              <% @education.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <tr>
            <td></td>

                <td><h2>New Education</h2></td>


          </tr>
          <tr class="spaceunder">
            <td><label>School</label></td>
            <td> <%= f.hidden_field :profile_id, :value =>  current_user.profile.id %>
              <%= f.text_field :schoolname, :class => "school", :required => true %></td>
          </tr>
          <tr class="spaceunder">
            <td><label>Date attended</label></td>
            <td><%= f.text_field :date_attended, :class => "date_picker", :required => true %></td>
            <%= hidden_field_tag :current_date, '', :value => Date.today.strftime("%Y-%m-%d") %>
          </tr>
          <tr class="spaceunder">
            <td><label>Degree</label></td>
            <td><%= f.text_field :degree %></td>
          </tr>
          <tr class="spaceunder">
            <td><label>Field of study</label></td>
            <td><%= f.text_field :field_of_study %></td>
          </tr>
          <tr class="spaceunder">
            <td><label>Grade</label></td>
            <td><%= f.text_field :grade %></td>
          </tr>
          <tr class="spaceunder">
            <td><label>Activities and Societies</label></td>
            <td><%= f.text_field :activities_and_societies %><br></td>
          </tr>
          <tr class="spaceunder">
            <td><label>Description</label></td>
            <td><%= f.text_area :description, :style => "width:205px;height:50px" %></td>
          </tr>
          <tr class="spaceunder">
            <td><label>Skills</label> </td>
            <td><%= f.text_area :skills, :style => "width:205px;height:50px" %></td>
          </tr>
          <tr class="spaceunder">
            <td></td>
            <td><%= f.submit "Save", :id=> "save", :class => "postbtn", :style => "width:71px;height:30px;border-radius:20px;" %></td>
            <% end %>
            <td><div class="button2">
              <%=  link_to "Add More", add_more_school_educations_path, {:class=>"btn",:style => "width:91px;margin-left:-106px;" ,"data-toggle" => "modal","data-target" => "#myModal"} %>
              <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="forceClose">×</button>
                  <h3 id="myModalLabel" style="text-align: center;">Add More Education</h3>
                </div>
                <div class="modal-body">
                  <p></p>
                </div>
              </div>
            </div>
            </td>
          </tr>


          </table>








  </div>

      <div id="rightSideDIV" style="height:634px;">
        <h2>SPONSORS</h2>
        <ul>
          <li>
            <label>Ready for Google xPhone?</label>
            <p>open.etoro.com</p>
            <img src="images/s1.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestias, similique,</p>
          </li>
          <li>
            <label>Ready for Google xPhone?</label>
            <p>open.etoro.com</p>
            <img src="images/s2.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestias, similique,</p>
          </li>
          <li>
            <label>Ready for Google xPhone?</label>
            <p>open.etoro.com</p>
            <img src="images/s4.png"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, molestias, similique,</p>
          </li>
        </ul>
      </div>


</div>

<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery-ui' %>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="/assets/jquery.datepick.js"></script>

<script>
    $('.date_picker').datepick({
        format: 'mm-dd-yyyy'
    });
</script>

<script>
    $('.new_education').submit(function() {
        var endDate = $('#current_date').val();
        var startDate = $('.date_picker').val();
        if (startDate > endDate){
            alert("Start date value should be less than today date");
            return false;
        }
    });
</script>






<script>//<![CDATA[

var availableTags = [<% for i in 0...@school.length %>
    '<%= @school[i].school_name %>',
    <% end %>
];
$( ".school" ).autocomplete({
    source: availableTags
});



</script>
<style type="text/css">


    .ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
        z-index: 1500;

    }
    .datepick-popup{
        z-index: 1500;!important
    }

</style>

