<%= form_for(@education) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :date_attended %><br />
    <%= f.date_select :date_attended %>
  </div>
  <div class="field">
    <%= f.label :degree %><br />
    <%= f.text_field :degree %>
  </div>
  <div class="field">
    <%= f.label :field_of_study %><br />
    <%= f.text_field :field_of_study %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :activities_and_societies %><br />
    <%= f.text_field :activities_and_societies %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :skills %><br />
    <%= f.text_area :skills %>
  </div>
    <div class="actions">
      <td><%= f.submit "Save", :id=> "save" %></td>
    </div>
<% end %>
<div class="button2">
  <%=  link_to "Add More", new_education_path(id: current_user.profile.id), {:class=>"btn", "data-toggle" => "modal","data-target" => "#myModal"} %>
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add More Education</h3>
    </div>
    <div class="modal-body">
      <p></p>
    </div>

  </div>
</div>
<script type="text/javascript">
    $('#education_school').click(function() {
        $("#education_school").tokenInput("/users/tokenizer.json", {
            theme: "facebook"
        });
    });
</script>
<script>
    $("#school").click(function() {
        $("#school").select2({tags:[<% for i in 0...@school.length %>
            '<%= @school[i].school_name %>',
            <% end %>]});
    });

</script>

