<br>
<div class="search_container">
  <div class="search_user">
    <h2>Search Results</h2>
  </div>
  <div class="search_results_details">
    <% unless @profile_result.empty? %>
      <% @profile_result.each do |profile_result| %>
          <% user = User.find(profile_result.user_id) %>
          <table style="color: #51a2d5;">
            <tr>
              <td>
                <%= link_to "#{profile_result.first_name}", profile_result %>
                <%= link_to "#{profile_result.last_name}", profile_result %>
                <%=  user.user_role.to_sentence %>
              </td>
            </tr>
          </table>
      <% end %>
        <% else %>
                <p><b>No Results Found</b></p>
        <% end %>
      <br/>
  </div>


  <div class="search_results_details">
    <% array = @professional.uniq %>
    <% array.each do |profile_result| %>
        <td><%= link_to "#{profile_result.company_name}", profile_result %>
              <% @professional2 = Professional.where("company_name = ?", profile_result.company_name) %>
              <% @professional2.each do |proff| %>
              <% profile = Profile.find(proff.profile_id) %>
              <%= profile.first_name %><%= profile.last_name %>
            </td>
  <% end %>
    <% end %>
  </div>
</div>


