<div id ="container">
<br>
<div class="search_container">
  <div class="search_user">
    <h2>Search Results</h2>

  <% unless @profile_result.empty? and @company_name.empty? %>
  <div class="search_results_details">
      <b><% @profile_result.each do |profile_result| %></b>
          <% user = Profile.find_by_user_id(profile_result.id) %>
          <table style="color: #51a2d5;">
            <tr>
              <% unless user.avatar_file? %>
                  <td><%= image_tag("missing.png", width: 90, height: 99) %></td>
              <% else %>
                  <td><%= image_tag url_for(:controller => "profiles", :action => "other_user_image", :id => user.id), {:class => "profile_image"} %></td>
              <% end %>
              <td>
                <%= link_to "#{user.first_name}", user %>
                <%= link_to "#{user.last_name}", user %>
                <%=  profile_result.user_role.to_sentence %>
              </td>
            </tr>
          </table>
      <% end %>
      <br/>
  </div>



    <% else %>
        <p><b>No Results Found</b></p>
    <% end %>
</div>
</div>
</div>


