<br>
<div class="search_container">
  <div class="search_user">
    <h2>Search Results</h2>
  </div>

  <div class="search_details_heading">Profile Details</div>
  <div class="search_results_details">
      <% @profile_result.each do |profile_result| %>
          <% user = User.find(profile_result.user_id) %>
          <table style="color: #51a2d5;">
            <tr>
              <td>First Name:</td>
              <td><%= link_to "#{profile_result.first_name}", profile_result %> <%= user.user_role %></td>
            </tr>
            <tr>
              <td>Last Name:</td>
              <td><%= link_to "#{profile_result.last_name}", profile_result %> <%= user.user_role %></td>
            </tr>
            <tr>
              <td>City:</td>
              <td><%= link_to "#{profile_result.city}", profile_result %> <%= user.user_role %></td>
            </tr>
            <tr>
              <td>State:</td>
              <td><%= link_to "#{profile_result.state}", profile_result %> <%= user.user_role %></td>
            </tr>
          </table>
      <% end %>
      <br/>
  </div>


  <div class="search_details_heading">Education Details</div>
  <div class="search_results_details">
    <% @education.each do |profile_result| %>
        <% profile = Profile.find(profile_result.profile_id) %>
        <% user = User.find(profile.user_id) %>
        <table style="color: #51a2d5;">
          <td>School:</td>
          <td><%= link_to "#{profile_result.school}", profile_result %></td>
          </tr>
        </table>
    <% end %>
    <br/>
  </div>


  <div class="search_details_heading">Professional Details</div>
  <div class="search_results_details">
      <% @professional.each do |profile_result| %>
          <% profile = Profile.find(profile_result.profile_id) %>
          <% user = User.find(profile.user_id) %>
          <table style="color: #51a2d5;">
            <tr>
              <td>Company Name:</td>
              <td><%= link_to "#{profile_result.company_name}", profile_result %></td>
            </tr>
          </table>
      <% end %>
  </div>
</div>


