
<br/>


<%= form_tag('/feedback/send_email') do %>
    <table>
      <tr>
        <td>Subject</td>
        <td><%= text_field_tag :title %></td>
      </tr>
      <tr>
        <td>Category</td>
        <td>
         <%= select_tag :category,  options_for_select([["Suggest New Feautres"],["Improve This Page"],["I Like This Page"]]) %>
        </td>
      </tr>
      <tr>
        <td>Message</td>
        <td><%= text_area_tag :message %></td>
      </tr>
      </table>


    <%= hidden_field_tag :email, current_user.email %>


    <div><%= submit_tag 'Send' %></div>
<% end %>


<script>
    $(window).load(function(){

        $('select').css({'width': 200});

    });
</script>
