<div id ="container" style="background-color: #ffffff">
  <br>
  <h3 style="text-align: center">Add To Network</h3>
  <br>
  <table align=center>
    <tr>
      <td><label>Location:</label></td>
      <td><%= text_field_tag :location %></td>
    </tr>
    <tr>
      <td><label>Company:</label></td>
      <td><%= text_field_tag :company %></td>
    </tr>
    <tr>
      <td><label>School:</label> </td>
      <td><%= text_field_tag :school %></td>
    </tr>
    <tr>
      <td><label>Organization:</label> </td>
      <td><%= text_field_tag :organization %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag "search", :onclick => "get_user()", :class=>"conv_send_btn" %></td>
    </tr>
  </table>


</div>

<script>
  function  get_user()
  {
      $.ajax({
          url: "/feedback/show_user_profile",

          data: { location: $("#location").val(), company: $("#company").val(), school: $("#school").val()   },
          cache: false,
          beforeSend: function( ) {
              $('.image_loading').show();
              $('#container').append("loading...");
          },
          success: function(html){

              $('.image_loading').hide();
              $('.bodycontainer').empty();
              $('.bodycontainer').append(html);
          },
          error: function( ) {
              $('.bodycontainer').append("...error loading...");
          }

      })
  }
</script>