<html>
<head>
  <title>ADDAMENT PROFILE</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div id="header">
  <div class="header_content">
    <div class="header_logo"><img src="/assets/logo.png"></div>
    <table class="header_search_box">
      <td>
        <ul id="menu">
          <li class="menuItem "><%= link_to "HOME", my_account_path %></li>
          <li class="menuItem menuItemSelected"><%= link_to "PROFILE", about_profiles_path %></li>
          <li class="menuItem"><%= link_to "MESSAGES", conversations_path %></li>
          <li class="menuItem"><%= link_to "NETWORK", public_profile_path %></li>
          <li class="menuItem"><%= link_to "PATH", goals_path %></li>
        </ul>
      </td>
      <td>
        <div class="header_search">
          <div class="navbar-search">

            <%= form_tag({:controller => 'profiles', :action => 'preview'}, :remote => true, :'data-update-target' => 'update-container') do %>
                <%= text_field_tag 'search_txt', nil, :class => 'search-query span3', :placeholder => 'Search' %>
                <%= submit_tag 'Search', :disable_with => 'Please wait...', :class => 'icon-search' %>
            <% end %>



          </div>
        </div>
      </td>
      <td>
        <% if !current_user.profile.nil? %>
            <%= image_tag url_for(:controller => "profiles", :action => "code_image"), {:class=>'profile_img'} %>
        <% else %>
            <%= image_tag("/assets/avatar.jpg", height: 25, width: 25, :style => "display: list-item; margin-top:-6px; margin-left:0px;") %>
        <% end %>
      </td>
      <td>
        <label class="userDet">
          <% unless current_user.profile.nil? %>
              <%=  current_user.profile.first_name %>
          <% end %>
        </label>
      </td>
      <td>
        <div id="notifi">
          <label class="notification">11</label>
          <img src="/assets/notification.gif" alt="" style="margin-left:-45px;">
          <% if !current_user.profile.nil? %>
              <%= link_to image_tag("/assets/settings.png"), edit_profile_path(current_user.profile.id) %>
          <% else %>
              <%= link_to image_tag("/assets/settings.png") %>
          <% end %>
          <%= link_to image_tag("/assets/signout.png"), destroy_user_session_path, :method => 'delete' %>
        </div>
      </td>
    </table>
  </div>
</div>


<div class="bodycontainer">
  <%= yield %>
</div>


<div id="footer">
  <div class="footerContent">
    <div>
        <ul id="footer_menu">
          <li class="footer_menu_item">HOME</li>
          <li class="footer_menu_item">PROFILE</li>
          <li class="footer_menu_item">INTERACT</li>
          <li class="footer_menu_item">MESSAGES</li>
          <li class="footer_menu_item">MENTORS</li>
          <li class="footer_menu_item">PATH</li>
        </ul>
        <br style="clear:both;"/>
    </div>
    <div class="footer_copy_rights">
      <div class="footer_rights_details">Copyright 2013 Addament  All Rights Reserved</div>
      <div class="footer_privacy_policy">Privacy Policy</div></div>
  </div>
</div>


</body>
</html>